[flake8]
exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env,
    settings,
    __init__.py,

ignore =
    E501,
    W293,
    F841,
    F401,
    F403,
    F405,
    E305,
    E302,
    F811,
    E402,
    E302,
    E303,
    E302,
    F811,
    F811,
    F811,
    E402,
    E302,
    W391,