.reasons-block .reason-block-cont{
			align-items: normal;
		}

		#sync1 .item h2 {
    font-size: 45px;
    color: #fff;
    font-weight: 900;
    line-height: 56px;
}
		@media(min-width:767px){
     
      .courusel-container .inside{
       max-width: 650px !important
      }
		}
		
		 @media(max-width:767px){
    
      .philosophy-block .philosophy-div1{
      	min-height: 0px !important;
      	margin-bottom: 25px;
      }
      .live-currency{
      	padding-top: 30px;
      }

      #sync2{
     	top: 250px !important;
     }


     .owl-dot:nth-child(4n+3){
  display: none;
}

 #sync1 .item h2 {
    font-size: 32px !important;
    line-height: normal !important;
  }

    }


@media only screen and (min-width: 481px) and (max-width: 512px){
   
    #sync2{
     	top: 290px !important;
     }

}

@media only screen and (min-width: 767px) and (max-width: 991px){
   
   #sync2{
   	margin-top: 65px !important
   }

    #sync2{
     	top: 240px !important;
     }

}

@media (max-width: 480px){
    #sync2{
     	top: 220px !important;
     }
  #sync1 .item h1, #sync1 .item h2 {
    font-size: 22px !important;
  }
}

@media only screen and (min-width: 351px) and (max-width: 370px){
    #sync2{
     	top: 250px !important;
     }

}
@media only screen and (min-width: 992px) and (max-width: 1199px){
   
          #sync1 .item h1, #sync1 .item h2 {
    font-size: 32px !important;
    line-height: normal !important;
}

#sync2{
   	margin-top: -15px !important
   }

   #sync2{
     	top: 240px !important;
     }

}

  html,body {
  overflow-x: hidden !important;
}
.hidden-thing {
  position: absolute;
  left: 100%;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.price-plan-text-2 ul li::before {
  /*content: "\2713\0020";*/
  content: "\2022";
  color: #131149;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -15px;
  vertical-align: top

}

.price-plan-text-2 ul{
	list-style: none;
	margin-top: 15px;
}
	

	.price-plan-item-inside{
		height:655px; 
		border-radius: 10px;
		border: 3px solid #131149;
		margin-bottom: 15px;
		box-shadow: 0 0 5px lightgrey;
	}

	.price-plan-item-inside img{
		max-height: 250px;
		object-fit: cover;
		object-position: 0 -1px;
		border-bottom: 5px solid #20add0;
		border-top-left-radius: 6px ;
		border-top-right-radius: 6px;


		margin-bottom: 15px;

		width: 100%
	}

	.price-plan-text-2{
		padding: 21px;
		padding-top: 0px;
		text-align: left;
		color: #333;


	}

	.price-plan-item-inside h4{
		color: #131149;
		text-align: center;
		
		margin-bottom: 5px;
		font-weight: 700;
		font-size: 18px;
		font-family:'Muli', sans-serif !important;
	}

	.price-plan-item-inside .see-brd-btn{
		padding: 11px 34px;

		    font-family: 'Muli', sans-serif;
    position: absolute;
    bottom: 45px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: -20px;
    text-align: center;
    width: 180px;
	}

	.price-plan-text-2 ul li{
		margin-bottom: 15px;
		font-size: 16px;
		padding-left: 15px;
		line-height: 25px;
		font-weight: 300 !important;
	}

     @media(min-width:767px){
                           .courusel-container {
    background-position-y: bottom !important;
    max-height: 653px !important;
        padding: 180px 0 100px !important;
}
 .box-pad{
         padding-right: 0px !important;
        }

        .box-pad:first-child{
         margin-left: -15px !important;
        }


     }

     @media(max-width: 991px)
     {
             .courusel-container {
    background-position-y: bottom !important;
    max-height: 653px !important;

        padding: 180px 0 100px !important;

      }

     }

@media(min-width: 2000px)
{
               .courusel-container {
    background-position-y: bottom !important;
    max-height: 653px !important;
        padding: 180px 0 100px !important;
}
}
     @media(min-width: 1441px){
     .courusel-container {
    background-position-y: bottom !important;
    max-height: 653px !important;
        padding: 180px 0 100px !important;
}
}

.courusel-container{
	background-position: left bottom !important;
	background-size: cover !important;
	
}

    @media(min-width:767px) and (max-width: 991px){
                           .courusel-container {
    max-height: 767px !important;
}
}

.owl-item .item { margin-left: 1px !important; }

.reviews-wrapper .reviews-inside .review-text {
	font-size: 16px !important;
}

.slider-below .blue-brd-btn {
    /* background: #20add0; */
    background: #20add0;
    /* border: 2px solid #20add0; */
    border: 2px solid #20add0;
    color: #fff;
    font-family: 'Muli', sans-serif;
}

.reasons-block .reasons-icon-div img.insightful {
    margin-left: 5px !important;
}

@media(min-width: 992px) and (max-width: 1200px){
.header-block ul li a{
	font-size: 14px;
}
}

@media only screen and (min-width: 320px) and (max-width: 350px){
  
    #sync2{
     	top: 205px !important;
     }

     #sync1 .item h1, #sync1 .item h2 {
    font-size: 20px !important;
}

 #sync1 .item p {
   font-size: 12px !important;
       font-size: 11px !important;
    line-height: 20px !important;
}
 .slider-below{
 	margin-top: 0px !important;
 }

 .courusel-container{
 	max-height: 553px !important;
    padding: 160px 0 100px !important;
 }


}

.fa-file-pdf:hover{
	color: #20add0 !important;
}


/* added on 7 march 2022*/

.reviews-item{ padding: 0;
    margin: -1px -4px -2px -4px;}
	.philosophy-block .philosophy-div2 p {
   
    padding-right: 0px !important;}

	.price-plan-text-2 ul li {
    line-height: 20px;}
	.price-plan-item-icon img {
    height: 200px;
		}

 	.price-plan-item-inside .price-plan-item-icon {
    height: 600px;
		}
		.price-plan-item-inside h4 {
		padding: 15px 10px 0 10px;}
		.price-plan-item-inside {
    height: 333px;}




 @media (max-width: 425px){
        .c-container{
        	background-image: none !important;
        }
        .img_425{
        	height: 348px;
            background-position: -1301px 348px;
            margin-top: 35px;
        }
         .text-section{
        margin-top: 60px !important;
        margin-bottom: 15px !important;


     }
    }

     @media (max-width: 540px){
        .c-container{
        	background-image: none !important;
        }
        .img_425{
        	height: 300px;
            background-position: -1301px 416px;
            margin-top: 35px;
        }
         .text-section{
        margin-top: 60px !important;
        margin-bottom: 15px !important;


     }
    }

		@media (max-width: 768px){
        .c-container{
        	background-position: center top!important;
        	background-repeat: no-repeat !important;
        }

         .text-section{
        margin-top: 5px !important;
        }
        .text-section h3 {
    font-size: 24px;
      }
       .text-section p {
       	margin-top: 15px !important;
    line-height: 20px !important;
      }
      .blue-brd-btn{
      	padding: 10px 25px;
      }
      .text-section br{
      	display: none !important;
      }

       .c-container{
        	background-image: none !important;
        }
        .img_425{
        	/*height: 348px;*/
        	width: 100%;
            background-position: -1301px 348px;
            margin-top: 35px;
        }

         .text-section{
        margin-top: 60px !important;
        margin-bottom: 15px !important;


     }

     }


    @media only screen and (min-width: 600px) and (max-width: 991px) {
         .c-container{
        	background-image: none !important;
        }
        .img_425{
        	height: 300px;
            background-position: -1005px 416px;
            margin-top: 35px;
        }
         .text-section{
        margin-top: 60px !important;
        margin-bottom: 15px !important;


     }
    }
 
     @media (max-width: 991px){
        

         .text-section{
        margin-top: 60px !important;
        margin-bottom: 15px !important;


     }
        .text-section h3 {
    font-size: 24px;
      }
       .text-section p {
       	margin-top: 15px !important;
    line-height: 20px !important;
      }
      .blue-brd-btn{
      	padding: 10px 25px;
      }
     }

     @media (min-width: 768px){
        .c-container{
        	 background-position: right top !important;
        	 background-size: 100% !important;
        	 background-repeat: no-repeat !important;




        }
         .text-section{
        margin-top: 60px !important;
        margin-bottom: 15px !important;


     }
     }

     @media (min-width: 991px){
        .c-container{
         
           background-position: right top !important;
        	 background-size: 100% !important;
        	 background-repeat: no-repeat !important;
        	 min-height: 362px !important;
        	 

        }
        .img_991{
        display: none;
        content-visibility: hidden;
      }

        .text-section{
        	height: 362px !important;
        	display: table-cell !important;
        	vertical-align: middle !important;
        }

       
     
       .text-section p {
       	margin-top: 15px !important;
    line-height: 20px !important;
      }
      .blue-brd-btn{
      	padding: 10px 25px;
      }
     }


      @media (min-width: 1200px){
        .c-container{
         
           background-position: right top !important;
        	 background-size: 100% !important;
        	 background-repeat: no-repeat !important;
        	 min-height: 509px;
        	 height: 100%;

        }
          .text-section p {
       	margin-top: 15px !important;
    line-height: 28px !important;
      }

        .blue-brd-btn{
      	padding: 14px 25px !important;
      }

       
     
       
     }

        @media (min-width: 1366px){
        .c-container{
         
           background-position: right top !important;
        	 background-size: 100% !important;
        	 background-repeat: no-repeat !important;
        	
        	 height: 480px !important;

        }

        .text-section{
        	height: 480px !important;
        	display: table-cell !important;
        	vertical-align: middle !important;
        }
    }

     @media (min-width: 1400px){
        .c-container{
         
           background-position: right top !important;
        	 background-size: 100% !important;
        	 background-repeat: no-repeat !important;
        	
        	 height: 495px !important;

        }

        .text-section{
        	height: 495px !important;
        	display: table-cell !important;
        	vertical-align: middle !important;
        }
    }
    
         @media (min-width: 1600px){
        .c-container{
         
           background-position: right top !important;
           background-size: 100% !important;
           background-repeat: no-repeat !important;
          
           height: 579px !important;

        }

        .text-section{
          height: 579px !important;
          display: table-cell !important;
          vertical-align: middle !important;
        }
    }


    @media (min-width: 1800px){
         .c-container{
         
           background-position: right top !important;
           background-size: 100% !important;
           background-repeat: no-repeat !important;
          
           height: 679px !important;

        }

        .text-section{
          height: 679px !important;
          display: table-cell !important;
          vertical-align: middle !important;
        }
    }

         @media (min-width: 2000px){
        .c-container{
         
           background-position: right top !important;
        	 background-size: 100% !important;
        	 background-repeat: no-repeat !important;
        	
        	 height: 905px !important;

        }

        .text-section{
        	height: 905px !important;
        	display: table-cell !important;
        	vertical-align: middle !important;
        }
    }

    header{
     	position: relative !important;
   
     }

      header.fixed-top{
     	
     	position: fixed !important;
     	
     }

     .text-section{
        margin-top: 60px;
        margin-bottom: 15px;


     }
      
      .reasons-block{
      	padding-top: 100px !important;
      }
      
 
      /*  .no-webp .c-container {*/
      /*	background-image: url("../img/abounaja-banner.jpg");*/

      /*}*/

      /*.webp .c-container{*/
      /*	background-image: url("../img/abounaja-banner.webp");*/
      /*}*/

  
    
    /*end c-container*/
    
    /*what we do menu*/
    .wedomenu{position: fixed; right: 0; left: 0; height: auto; background-color: #f5f9fc; padding: 15px; top: 100px;display: none;width: 1200px}
.wedomenu ul{position: relative;}
.wedomenu li{display: block;padding: 0 !important;text-align: center !important;width: 100%;margin-bottom: 0px;border-bottom: 1px dashed #cacaca;}
.wedomenu li a{display: block;}
.wedomenu li span{display: block;color: #333;font-weight: 400;font-size: 12px;text-transform: uppercase;text-align: left;padding: 15px 10px;padding-left:0;}
.arowmake{width: 30px;height: 30px;background-color: #f5f9fc;display: block;transform: rotate(-45deg);position: absolute;bottom: -15px;display: none;}
.hovermenus:hover .wedomenu{display: block;}
.hovermenus:hover .arowmake{display: block;}



.mobnavmenu{display:none;}
.backtomenu{display:none !important;}

.wedomenu ul{width: 33%;float: left;padding-right: 15px;padding-left: 15px;}
.wedomenu ul li:last-child{border: none !important}

.wedomenu ul li span{transition: transform 0.3s ease;
  transform: translateX(0px);}
.wedomenu ul li span:hover{transform: translateX(10px);}


@media(max-width:1200px)
{
	.wedomenu{width:100%;}
}


@media(max-width:768px)
{

.header-block .nav-menu{height:640px;overflow-y:auto;padding-top:150px;padding-bottom:150px;}
.header-block .blue-brd-btn{ position: fixed;
    z-index: 9;
    right: 0;
    left: 0;
    bottom: 0;
    background: #fff; }



.hovermenus:hover .wedomenu{display: block !important;}
/*.hovermenus:hover .arowmake{display: none !important;}*/

.desknavmenu{display: none !important;}
.mobnavmenu{display:block !important;}
.backtomenu{display:block !important;}

.backtomenu span{font-size: 15px !important;
    letter-spacing: 1px !important;
    font-weight: 900 !important;}

.wedomenu{
    overflow-y: auto;
    z-index: 9;
    top: 105px;
    bottom: 0;display: block;height: 200px;overflow-y: auto;left: 0;
    width: 100%;margin-top:10px;
    right: 0;position:unset;}
.wedomenu li a{padding: 0;position: unset;text-align: left;}
.wedomenu li span{height: 35px;line-height: 35px;text-align: left;padding: 0;}

.arowmake{display: none !important;    top: 41px;
    right: 49%;}

 .wedomenu ul{width: 100%;float: none;padding-right: 0;padding-left: 0;}



}
    /*end what we do menu*/
    /*where we are menu*/
    .whatwe{position: fixed; right: 0; left: 0; height: auto; background-color: #f5f9fc; padding: 15px; top: 100px;display: none;width: 800px}
.whatwe ul{position: relative;}
.whatwe li{display: block;padding: 0 !important;text-align: center !important;width: 100%;margin-bottom: 0px;border-bottom: 1px dashed #cacaca;}
.whatwe li a{display: block;}
.whatwe li span{display: block;color: #333;font-weight: 400;font-size: 12px;text-transform: uppercase;text-align: left;padding: 15px 10px;padding-left:0;}
.arowmake_we{width: 30px;height: 30px;background-color: #f5f9fc;display: block;transform: rotate(-45deg);position: absolute;bottom: -15px;display: none;}
.hovermenus2:hover .whatwe{display: block;}
.hovermenus2:hover .arowmake_we{display: block;}

.whatwe ul{width: 33%;float: left;padding-right: 15px;padding-left: 15px;}
/*.whatwe ul li:last-child{border: none !important}*/

.whatwe ul li span{transition: transform 0.3s ease;
  transform: translateX(0px);}
.whatwe ul li span:hover{transform: translateX(10px);}

@media(max-width:1200px)
{
	.whatwe{width:100%;}
}


@media(max-width:768px)
{

.hovermenus2:hover .whatwe{display: block !important;}
/*.hovermenus2:hover .arowmake_we{display: none !important;}*/

.whatwe{
    overflow-y: auto;
    z-index: 9;
    top: 105px;
    bottom: 0;display: block;height: 200px;overflow-y: auto;left: 0;
    width: 100%;margin-top:10px;
    right: 0;position:unset;}
.whatwe li a{padding: 0;position: unset;text-align: left;}
.whatwe li span{height: 35px;line-height: 35px;text-align: left;padding: 0;}

.arowmake_we{display: none !important;    top: 41px;
    right: 49%;}

 .whatwe ul{width: 100%;float: none;padding-right: 0;padding-left: 0;}

}
    /*end where we are menu*/
