{% extends 'Persion_base.html' %}
{% load static %}
{% block content %}
<div class="first-section animatedParent" style="margin-bottom: 200px">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInLeft">
                        <div class="text" style="padding-top: 0px;max-width: 600px">
                    
                    <div class="">

                        <p class="product-title" itemprop="name">بلاگ</p>

                        <h1 style="font-size: 2.7em;
line-height: 1.15em;
margin: 0 0 .3em;font-weight: normal;" class="registration_quote"> به زودی <br>
<br class="d-none d-xl-block"> </h1>
                       

                        <div class="overview-pricing-cta ">
<!-- 							<p class="button-top" style="font-size: 1.1em;line-height: 1.2em;    margin: 40px 0 10px;
padding-left: 0;
text-align: center;width: 405px">Most people complete our questionnaire in under 15 minutes.<br></p> -->


                         <!-- <a id="pt-reg" " class="btn btn-primary" href="https://abounaja.com/patent-registration" style="font-size: 1.2em; 
 max-width: 400px;  padding: .7em 0;    text-align: center;border: 0;-webkit-border-radius: 4px; 
moz-border-radius: 4px; 
ms-border-radius: 4px; 
border-radius: 4px; 
margin: 0 0 .3em; 
 width: 100%; 
display: inline-block;color: white">Start my Patent Registration</a> -->
                            
                            
                            <!-- <p class="button-bottom" style="text-align: center;width: 400px">Pricing starts at $199 + Federal filing fees</p> -->


                        </div>
                        <p class="final-copy-class "></p>
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInRight position-relative">
                <img src="{% static 'assets/img/DALL.webp' %}" style="height: 621px;object-fit: cover" alt="about-img">
            </div>
        </div>
    </div>
    <!-- <div class="cloud">&nbsp;</div>
    <div class="cloud-two">&nbsp;</div>
    <div class="mini-cloud"></div>
    <div class="mini-cloud two"></div>
    <div class="mini-cloud three"></div> -->
</div>

{% endblock %}