{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- 	<div class="first-section animatedParent" >

		<div class="container">

			<div class="row">

				<div class="col-xl-6 col-lg-6 col-md-12 col-12 animated bounceInLeft">

					<div class="text" style="">

						<h1>About<br>ABOU NAJA</h1>

						<span class="d-flex align-items-center"><b class="line">&nbsp;</b>The intellectual story<b class="line">&nbsp;</b></span>

					</div>

				</div>

				<div class="col-xl-6 col-lg-6 col-md-12 col-12 animated bounceInRight position-relative"  >

					<video playsinline autoplay loop preload width="100%" style="height:621px" muted>

						<source src="assets/img/about_us_abounaja.mp4?v=2" type="video/mp4" >

								Your browser does not support the video tag.

							</video>

				</div>

			</div>

		</div>

	

	</div> -->

    <div class="first-section animatedParent" style="margin-bottom: 150px">

		<div class="container">

			<div class="row">

				<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInLeft">

					<div class="text">

						<h1 style="text-align: left">About <br>ABOU NAJA</h1>

						<span class="d-flex align-items-center"><b class="line">&nbsp;</b>The intellectual story<b class="line">&nbsp;</b></span>

					</div>

					<p style="color: white;max-width: 400px;margin-top: 15px;padding-bottom: 15px">

						ABOU NAJA Intellectual Property is committed to protecting forward-thinking ideas since 1971. Our practice has always been informed by our passion to make the world a more conducive environment for nurturing the human genius. Hence, our belief that original ideas should be protected from malicious intentions. This enables ideas to flourish.

						<br><br>

						

					</p>

				</div>

				<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInRight position-relative video_div">

					<video playsinline autoplay loop preload width="100%" muted>

						<!-- <source src="assets/img/AbouNaja-where-we-are.mp4?v=2" type="video/mp4" >

								Your browser does not support the video tag.

							</video> -->

							<div class="clearfix" ></div>



				</div>

				

			</div>

		</div>

		<!-- <div class="cloud">&nbsp;</div>

		<div class="cloud-two">&nbsp;</div>

		<div class="mini-cloud"></div>

		<div class="mini-cloud two"></div>

		<div class="mini-cloud three"></div> -->

	</div>

	<!--===================== End of First Section ========================-->

	<div class="second-section container" style="margin-top: 70px">

		<div class="row">

			<div class="col-xl-5 text-about">

				<h2 class="h2-main">The Firm</h2>

				<p>Driven by our passion for protecting innovations, we devised a holistic approach that propelled us to stand above and beyond every expectation. Our Intellectual Story tells of countless Intellectual Property success stories.<br><br>



				We are always determined to adapt to any changes in the global conditions. Our adamant commitment to protecting ideas directs every step we take.</p>

			</div>

			<div class="col-xl-6 offset-xl-1 animated position-relative">

					<img src="assets/img/the_firm.jpg" alt="about-img">

			</div>





		</div>

	</div>

	<!--===================== About Working ========================-->

	<!-- background: rgb(243,248,252) !important; -->

	<div class="about-working" style="margin-top: 70px;background: rgb(243,248,252) !important;">

		<div class="container">

			<div class="row">

				<div class="col-xl-5 col-md-8 d-none d-md-block">

				

				

				<picture class="perks" >

					<source srcset="assets/img/our_office.webp" type="image/webp">

						<source srcset="assets/img/our-office-min.jpg?v=3" type="image/jpeg"> 

							<img class="perks" src="assets/img/our-office-min.jpg?v=3" loading="lazy" alt="images">

						</picture>



				<div class="clearfix"></div><br>&nbsp;</div>

				<div class="col-xl-7 col-md-12 col-12">

					<div class="text-head" style="margin-bottom: 40px">

						<h5>The Perks</h5>

						<h2 class="h2-main">About our

workplace</h2>

					</div><!--text-head-->

					<ul class="list-unstyled animatedParent">

						<li class="d-flex align-items-center animated bounceInRight delay-250">

							<img src="assets/img/icon-about.svg" alt="icon-about">

							<div class="content">

								<h5>Spacious offices</h5>

								<p>Spacious and comfortable offices in prime locations with flexible workspace and easy accessibility.</p>

							</div>

						</li>

						<li class="d-flex align-items-center animated bounceInRight delay-500">

							<img src="assets/img/icon-about2.svg" alt="icon-about">

							<div class="content">

								<h5>Family spirit</h5>

								<p>Our family approach is built on respect, shared goals, effective communication, and trust.</p>

							</div>

						</li>

						<li class="d-flex align-items-center animated bounceInRight delay-750">

							<img src="assets/img/icon-about3.svg" alt="icon-about">

							<div class="content">

								<h5>Career growth</h5>

								<p>An intellectually challenging and diverse environment to help you excel both within our firm, and in the industry.</p>

							</div>

						</li>

						<li class="d-flex align-items-center animated bounceInRight delay-1250">

							<img src="assets/img/icon-about5.svg" alt="icon-about">

							<div class="content">

								<h5>Training</h5>

								<p>Experienced attorneys are always ready to provide training and mentorship to all new teammates.</p>

							</div>

						</li>

						<li class="d-flex align-items-center animated bounceInRight delay-1000">

							<img src="assets/img/icon-about4.svg" alt="icon-about">

							<div class="content">

								<h5>Paperless & Environment- Friendly</h5>

								<p>We are committed to preserving our planet so that future generations can benefit from the great ideas we protect and nurture.</p>

							</div>

						</li>

						

						<li class="d-flex align-items-center animated bounceInRight delay-1250">

							<img src="assets/img/icon-about6.svg" alt="icon-about">

							<div class="content">

								<h5>Healthcare benefits</h5>

								<p>Providing the best healthcare coverage to everyone working with us, while maintaining a robust and hearty work environment.<br><br><br></p>

							</div>

						</li>

					</ul>

				</div>

			</div>

		</div>

	</div>

	<!--===================== End of About Working ========================-->

	<!--===================== Team Slider ========================-->

	<div class="container team-slider-text" style="display: none;">

		<div class="row">

			<div class="col-xl-12">

				<div class="text-head text-center">

					<h5>Team</h5>

					<h2 class="h2-main">Meet our Family</h2>

					<p>Our people are the foundation of our practice, each with an extensive background and knowledge capable of swiftly serving a wide range of our clients' IP needs.</p>

				</div><!--text-head-->

			</div>

		</div>

	</div>

	<div class="team-slider animatedParent" style="display: none;">

		<div class="item animated bounceInRight delay-250">

			<img src="assets/img/team-slider.png" alt="team-slider">

			<div class="info-team">

				<h5>Anna Gross</h5>

				<span>Project Manager</span>

				<div class="line">&nbsp;</div>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>

				<a href="#"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve"><g><g id="post-linkedin"><path d="M510,0H0c0,0,0,23,0,51v408c0,28,0,51,0,51h510c0,0,0-23,0-51V51C510,23,510,0,510,0zM153,433.5H76.5V204H153V433.5zM114.8,160.6c-25.5,0-45.9-20.4-45.9-45.9s20.4-45.9,45.9-45.9s45.9,20.4,45.9,45.9S140.2,160.6,114.8,160.6z M433.5,433.5H357V298.4c0-20.4-17.9-38.2-38.2-38.2s-38.2,17.9-38.2,38.2v135.1H204V204h76.5v30.6c12.8-20.4,40.8-35.7,63.8-35.7c48.5,0,89.2,40.8,89.2,89.3V433.5z"/></g></g></svg></a>

			</div>

		</div>

		<div class="item animated bounceInRight delay-500">

			<img src="assets/img/team-slider.png" alt="team-slider">

			<div class="info-team">

				<h5>Mariya Norman</h5>

				<span>Sales Manager</span>

				<div class="line">&nbsp;</div>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>

				<a href="#"><svg version="1.1" id="Capa_15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve"><g><g id="post-linkedin1"><path d="M510,0H0c0,0,0,23,0,51v408c0,28,0,51,0,51h510c0,0,0-23,0-51V51C510,23,510,0,510,0zM153,433.5H76.5V204H153V433.5zM114.8,160.6c-25.5,0-45.9-20.4-45.9-45.9s20.4-45.9,45.9-45.9s45.9,20.4,45.9,45.9S140.2,160.6,114.8,160.6z M433.5,433.5H357V298.4c0-20.4-17.9-38.2-38.2-38.2s-38.2,17.9-38.2,38.2v135.1H204V204h76.5v30.6c12.8-20.4,40.8-35.7,63.8-35.7c48.5,0,89.2,40.8,89.2,89.3V433.5z"/></g></g></svg></a>

			</div>

		</div>

		<div class="item animated bounceInRight delay-750">

			<img src="assets/img/team-slider.png" alt="team-slider">

			<div class="info-team">

				<h5>Sem Smith</h5>

				<span>Director Business Development</span>

				<div class="line">&nbsp;</div>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>

				<a href="#"><svg version="1.1" id="Capa_14" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve"><g><g id="post-linkedin5"><path d="M510,0H0c0,0,0,23,0,51v408c0,28,0,51,0,51h510c0,0,0-23,0-51V51C510,23,510,0,510,0zM153,433.5H76.5V204H153V433.5zM114.8,160.6c-25.5,0-45.9-20.4-45.9-45.9s20.4-45.9,45.9-45.9s45.9,20.4,45.9,45.9S140.2,160.6,114.8,160.6z M433.5,433.5H357V298.4c0-20.4-17.9-38.2-38.2-38.2s-38.2,17.9-38.2,38.2v135.1H204V204h76.5v30.6c12.8-20.4,40.8-35.7,63.8-35.7c48.5,0,89.2,40.8,89.2,89.3V433.5z"/></g></g></svg></a>

			</div>

		</div>

		<div class="item animated bounceInRight delay-1000">

			<img src="assets/img/team-slider.png" alt="team-slider">

			<div class="info-team">

				<h5>Rita Marvel</h5>

				<span>Graphic Designer</span>

				<div class="line">&nbsp;</div>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>

				<a href="#"><svg version="1.1" id="Capa_13" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve"><g><g id="post-linkedin4"><path d="M510,0H0c0,0,0,23,0,51v408c0,28,0,51,0,51h510c0,0,0-23,0-51V51C510,23,510,0,510,0zM153,433.5H76.5V204H153V433.5zM114.8,160.6c-25.5,0-45.9-20.4-45.9-45.9s20.4-45.9,45.9-45.9s45.9,20.4,45.9,45.9S140.2,160.6,114.8,160.6z M433.5,433.5H357V298.4c0-20.4-17.9-38.2-38.2-38.2s-38.2,17.9-38.2,38.2v135.1H204V204h76.5v30.6c12.8-20.4,40.8-35.7,63.8-35.7c48.5,0,89.2,40.8,89.2,89.3V433.5z"/></g></g></svg></a>

			</div>

		</div>

		<div class="item animated bounceInRight delay-1250">

			<img src="assets/img/team-slider.png" alt="team-slider">

			<div class="info-team">

				<h5>Sem Smith</h5>

				<span>Director Business Development</span>

				<div class="line">&nbsp;</div>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>

				<a href="#"><svg version="1.1" id="Capa_12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve"><g><g id="post-linkedin3"><path d="M510,0H0c0,0,0,23,0,51v408c0,28,0,51,0,51h510c0,0,0-23,0-51V51C510,23,510,0,510,0zM153,433.5H76.5V204H153V433.5zM114.8,160.6c-25.5,0-45.9-20.4-45.9-45.9s20.4-45.9,45.9-45.9s45.9,20.4,45.9,45.9S140.2,160.6,114.8,160.6z M433.5,433.5H357V298.4c0-20.4-17.9-38.2-38.2-38.2s-38.2,17.9-38.2,38.2v135.1H204V204h76.5v30.6c12.8-20.4,40.8-35.7,63.8-35.7c48.5,0,89.2,40.8,89.2,89.3V433.5z"/></g></g></svg></a>

			</div>

		</div>

	</div>
    {%endblock%}