{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="first-section animatedParent" >

    <div class="container">

        <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInLeft">

                <div class="text">

                    <h1 style="text-align: left">Contact Us</h1>

                    <span class="d-flex align-items-center"><b class="line">&nbsp;</b>+971 4 282 2677<b class="line">&nbsp;</b></span>

                </div>

                <p style="color: white;max-width: 400px;margin-top: 15px">

                    Our dedicated team of professionals are ready to assess and offer solutions to any IP concerns you may have. Feel free to choose any of the options below to reach our team.

                </p>



            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInRight position-relative" style="height: 621px">

                <!-- <img src="assets/img/about-img.jpg" alt="about-img"> -->

            </div>

        </div>

    </div>

    

</div>

<!--===================== End of First Section ========================-->

<!--===================== Contact Block ========================-->

<div class="live-currency animatedParent col1 cross-sell-as" style="padding-top: 3.5em;padding-bottom: 3.5em;">

    



        <section class="container">

            

            <div class="row align-items-top">

                 <div class="col-3 col-lg-2 col-xl-2 text-center align-items-top">

                    <i class="fa fa-handshake fa-3x" style="color:#f3af3c;margin-top: -5px;"></i>

                  

                    </div>

                <div class="col-9 col-lg-6 col-xl-8 text-left">

                <h2 style="margin-top: -7px">Schedule a consultation</h2>

                

                <article style="margin-top: 10px">

                        

                        <p style="margin-bottom: 0px">Easily set up a 30-minute attorney consultation for any range of services, at your convenience.</p>

                        

                    </article>

                </div>

                <div class="col-12 col-lg-4 col-xl-2 my-auto">

                        <!-- Calendly link widget begin -->

<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">

<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>

<a href="" style="vertical-align: top;float: right;cursor: pointer;z-index: 100;position: relative;"  class="blue-brd-btn decide" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/abounaja/15min'});return false;">Schedule my consultation</a>

<!-- Calendly link widget end -->

                </div>

            </div>

            

        </section>



</div>



<div class="live-currency animatedParent col1 cross-sell-as" style="background-color: #f2f2f2;padding-top: 3.5em;padding-bottom: 3.5em;display:none" >

    

        



        <section class="container">



            <div class="col-md-10 offset-md-2 requestBlock" style="padding-left: 0;padding-right: 0">

                <!-- alert space -->

            </div>

            

            <div class="row align-items-top">

                 <div class="col-3 col-lg-2 col-xl-2 text-center align-items-top">

                    <i class="fas fa-headset fa-3x" style="color:#f3af3c;"></i>

                  

                    </div>

                <div class="col-9 col-lg-6 col-xl-6 text-left">

                <h2 style="margin-top: -7px">Speak with a specialist</h2>

                

                <article style="margin-top: 10px">

                        

                        <p style="margin-bottom: 0px">Contact our highly trained team of UAE specialists <br class="d-none d-lg-block">available Monday to Friday, 10 AM to 7 PM.</p>

                        

                    </article>

                </div>

                <div class="col-12 col-lg-4 col-xl-4 my-auto">

                    
       <!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<a href="" id="request" style="vertical-align: top;float: right;cursor: pointer;z-index: 100;position: relative;"  class="blue-brd-btn decide" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/abounaja/15min'});return false;">Request a call</a>
<!-- Calendly link widget end -->


                        



            

                </div>

            </div>

            

        </section>

        



</div>



<div class="live-currency animatedParent col1 cross-sell-as" style="padding-top: 3.5em;padding-bottom: 3.5em;background-color: #f2f2f2;">

    

        



        <section class="container">

            <div class="col-md-10 offset-md-2 questionBlock" style="padding-left: 0;padding-right: 0">

                <!-- alert space -->

            </div>

            

            <div class="row align-items-top">

                 <div class="col-3 col-lg-2 col-xl-2 text-center align-items-top">

                    <i class="fa fa-info fa-3x" style="color:#f3af3c;"></i>

                  

                    </div>

                <div class="col-9 col-lg-6 col-xl-6 text-left">

                <h2 style="margin-top: -7px">Ask us any question</h2>

                

                <article style="margin-top: 10px">

                        

                        <p style="margin-bottom: 0px">Discuss any IP concerns for your business<br class="d-none d-lg-block"> with experienced business lawyers.</p>

                        

                    </article>

                </div>

                <div class="col-12 col-lg-4 col-xl-4 my-auto">

                        <a href="" style="float: right;cursor: pointer;z-index: 100;position: relative;display:none"  class="blue-brd-btn question">Send us a question</a>



                        <!--  -->

                        <form style=""  role="form" data-toggle="validator"  id="questionform" >

                    
                       
                    <input type="hidden" name="_token" value="ItopUjDwbht9p5l17o2qLyex99jartfBssWcn2g1">

                    <div class="form-group first">

                        

                        <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Name">

                    </div>

                    <div class="form-group">

                        

                        <input type="email" name="email" class="form-control" id="exampleInputEmail2" placeholder="Email">

                    </div>
                    
                    
                    <div class="form-group">
                    
                        
                        <select name="country[]" class="form-control country" multiple="true">
                            <option></option>
                                                            <option value="Algeria">Algeria</option>
                                                            <option value="Bahrain">Bahrain</option>
                                                            <option value="Egypt">Egypt</option>
                                                            <option value="Jordan">Jordan</option>
                                                            <option value="Kuwait">Kuwait</option>
                                                            <option value="Lebanon">Lebanon</option>
                                                            <option value="Morocco">Morocco</option>
                                                            <option value="Oman">Oman</option>
                                                            <option value="Qatar">Qatar</option>
                                                            <option value="Saudi Arabia">Saudi Arabia</option>
                                                            <option value="Tunisia">Tunisia</option>
                                                            <option value="Turkey">Turkey</option>
                                                            <option value="United Arab Emirates">United Arab Emirates</option>
                                                            <option value="Other">Other</option>
                                                        </select>
                    </div>

                    <div class="form-group last">

                        <input type="text" id="website" name="website" style="display: none;" />
                        <input type="text" id="contacttr" name="contacttr" style="display: none;" />

                        <textarea name="question" style="border: 1px solid grey;" class="form-control" placeholder="Question"></textarea>

                    </div>

                    <div class="">
                         <div class="g-recaptcha" data-sitekey="6LfjFyQhAAAAACGmE2C4mD9AEPoNgSztsoICUFg6"></div>
                         <br/>

                        <button  id="question" style="margin-top: 10px;height: 38px;line-height: 10px;" class="blue-brd-btn">Send</button>

                    </div>

                </form>

                        <!--  -->

                </div>

            </div>

            

        </section>

        



</div>

{%endblock%}