{% extends 'Persion_base.html' %}
{% load static %}
{% block content %}


<!-- 	<div class="first-section animatedParent" >

		<div class="container">

			<div class="row">

				<div class="col-xl-6 col-lg-6 col-md-12 col-12 animated bounceInLeft">

					<div class="text" style="">

						<h1>About<br>ABOU NAJA</h1>

						<span class="d-flex align-items-center"><b class="line">&nbsp;</b>The intellectual story<b class="line">&nbsp;</b></span>

					</div>

				</div>

				<div class="col-xl-6 col-lg-6 col-md-12 col-12 animated bounceInRight position-relative"  >

					<video playsinline autoplay loop preload width="100%" style="height:621px" muted>

						<source src="assets/img/about_us_abounaja.mp4?v=2" type="video/mp4" >

								Your browser does not support the video tag.

							</video>

				</div>

			</div>

		</div>

	

	</div> -->

    <div class="first-section animatedParent" style="margin-bottom: 150px">

		<div class="container">

			<div class="row">

				<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInLeft">

					<div class="text">

						<h1 style="text-align: right">درباره ما </h1>

						<span class="d-flex align-items-center"><b class="line">&nbsp;</b>  <b class="line">&nbsp;</b></span>

					</div>

					<p style="color: white;max-width: 400px;margin-top: 15px;padding-bottom: 15px">


						<br><br>

						

					</p>

				</div>

				<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInRight position-relative video_div">

					<video playsinline autoplay loop preload width="100%" muted>

						<!-- <source src="assets/img/AbouNaja-where-we-are.mp4?v=2" type="video/mp4" >

								Your browser does not support the video tag.

							</video> -->

							<div class="clearfix" ></div>



				</div>

				

			</div>

		</div>

		<!-- <div class="cloud">&nbsp;</div>

		<div class="cloud-two">&nbsp;</div>

		<div class="mini-cloud"></div>

		<div class="mini-cloud two"></div>

		<div class="mini-cloud three"></div> -->

	</div>

	<!--===================== End of First Section ========================-->

    <style>
        .text-about p, .text-about ul {
            font-size: 18px; /* افزایش اندازه فونت */
            line-height: 1.8; /* افزایش فاصله بین خطوط */
            margin-bottom: 20px; /* فاصله بین پاراگراف‌ها و لیست‌ها */
        }
        .text-about ul li {
            margin-bottom: 10px; /* فاصله بین آیتم‌های لیست */
        }
    </style>
    
    <div class="second-section container" style="margin-top: 70px">
    
        <div class="row">
    
            <div class="col-xl-5 text-about">
                <h2 class="h2-main">چه کسی هستیم</h2>
            
                <p>
                    دفتر حقوقی جان نثاری و همکاران با بیش از ۲۰ سال سابقه کار تیمی در ارائه خدمات حقوقی و بهره مندی از کادر متعهد و متخصص، شبکه ای کارآمد از وکلای مجرب را در داخل و خارج از کشور گرد هم آورده است.
                    ما با اعتقاد به اخلاق حرفه ای و رعایت استانداردهای خدمات مدرن حقوقی ، موکلین خود در داخل و خارج از کشور را در رسیدن به اهداف و موفقیتها همراهی مینماییم
                </p>
            
                <h3>چرا ما؟</h3>
                <p>
                    از آنجا که معتقدیم شما حق دارید از بهترین کیفیت خدمات حقوقی بهره مند گردید و بر این باوریم که این خدمات باید با هزینه متناسب در اختیار شما قرار گیرد؛ این فرصت ویژه را فراهم آورده ایم تا به جای صرف وقت و هزینه بسیار برای یافتن افراد متعدد ، مجموعه ای از تجربه، دانش و تخصص با وقت و هزینه متناسب در اختیار شما قرار گیرد
                </p>
            
                <h4>مزیتهای انتخاب ما به عنوان مشاور حقوقی عبارتند از:</h4>
                <ul>
                    <li><strong>تعهد:</strong> برای ما هیچ کاری کوچک یا بزرگ نیست.</li>
                    <li><strong>همکاری:</strong> هر پرونده توسط یک تیم متخصص اختصاصی مدیریت می‌شود تا از پشتیبانی کامل و چندجانبه اطمینان حاصل شود.</li>
                    <li><strong>شایستگی:</strong> تیم ما دانش عمیقی از شرکت‌های داخلی و بین‌المللی دارد.</li>
                    <li><strong>پایداری:</strong> ما سابقه اثبات‌شده‌ای در یافتن بهترین راه‌حل‌ها برای هر پرونده داریم.</li>
                    <li><strong>شفافیت:</strong> خدمات ما با شفافیت و راحتی از طریق پورتال مشتری یکپارچه ارائه می‌شود.</li>
                </ul>
                
                <h4>دپارتمان تخصصی مالکیت فکری</h4>
                <p>
                    دپارتمان تخصصی مالکیت فکری برآمده از وکلای با سابقه و کادر حقوقی - با دست کم پانزده سال تجربه تخصصی در دفاتر معتبر داخلی و خارجی-  است که افتخار ارائه خدمات حقوقی مالکیت فکری به موکلین معتبر و شهیر را داشته اند.
    این دپارتمان با همگرایی این اعضاء شکل گرفته تا حامی موکلین خود در مسیر برندینگ و پیشرفت در کسب و کارشان باشد.
    همکاران این دپارتمان با شناخت کامل از پیچیدگیها و چالشهای عرصه تجارت و اعتبار و برندینگ و همچنین آگاهی کامل از قوانین و رویه های حقوقی ایران در حوزه مالکیت فکری ، بهترین و مطمئن ترین راهکارهای حقوقی را برای حفظ حقوق مالکیت معنوی به موکلین ارائه میدهد
                </p>
            </div>
            
            <div class="col-xl-6 offset-xl-1 animated position-relative">
                <img src="{% static 'assets/img/the_firm.jpg' %}" alt="about-img">
            </div>
    
        </div>
    
    </div>
    

    {%endblock%}