{% extends 'Persion_base.html' %}
{% load static %}
{% block content %}


<div class="first-section animatedParent" >

    <div class="container">

        <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInLeft">

                <div class="text">

                    <h1 style="text-align: right"> ارتباط با ما</h1>

                    <li><a href="tel:+982122271571" class="small-text" style="font-size: 22px;">تلفن: +98(21)222 71 571</a></li>

                </div>

                <p style="color: white; max-width: 400px; margin-top: 40px !important; font-size: 20px !important;">
                    آماده‌اید بهترین راه‌حل حقوقی را بیابید؟ ما اینجاییم تا به شما گوش کنیم، مشکلات‌تان را بفهمیم، و راهکاری اختصاصی و مؤثر ارائه دهیم. از اولین تماس تا پایان پرونده، همراه شما خواهیم بود. با ما تماس بگیرید و بگذارید تیم تخصصی ما برای شما بهترین‌ها را به ارمغان بیاورد.

                    حالا وقتشه که اولین قدم رو بردارید!
                </p>



            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInRight position-relative" style="height: 621px">

                <!-- <img src="assets/img/about-img.jpg" alt="about-img"> -->

            </div>

        </div>

    </div>

    

</div>

<!--===================== End of First Section ========================-->

<!--===================== Contact Block ========================-->



{%endblock%}