{% extends 'Persion_base.html' %}
{% load static %}
{% block content %}

<div class="first-section animatedParent" style="margin-bottom: 200px">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInLeft">
						<div class="text" style="padding-top: 0px;max-width: 600px">
					
					<div class="">

						<p class="product-title" itemprop="name"> </p>

						<h1 style="font-size: 2.7em;
line-height: 1.15em;
margin: 0 0 .3em;font-weight: normal;" class="registration_quote"> <br>
<br class="d-none d-xl-block"> </h1>
						<p class="subheading" style="line-height: 1.2em;
margin: 0 0 1.1em;font-size: 1.1em"></p>

						<div class="overview-pricing-cta ">
<!-- 							<p class="button-top" style="font-size: 1.1em;line-height: 1.2em;    margin: 40px 0 10px;
padding-left: 0;
text-align: center;width: 405px">Most people complete our questionnaire in under 15 minutes.<br></p> -->


						 <!-- <a id="pt-reg" " class="btn btn-primary" href="https://abounaja.com/patent-registration" style="font-size: 1.2em; 
 max-width: 400px;  padding: .7em 0;    text-align: center;border: 0;-webkit-border-radius: 4px; 
moz-border-radius: 4px; 
ms-border-radius: 4px; 
border-radius: 4px; 
margin: 0 0 .3em; 
 width: 100%; 
display: inline-block;color: white">Start my Patent Registration</a> -->
							
							
							<!-- <p class="button-bottom" style="text-align: center;width: 400px">Pricing starts at $199 + Federal filing fees</p> -->


						</div>
						<p class="final-copy-class "></p>
					</div>
					
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInRight position-relative">
				<img src="{% static 'assets/img/finall4.jpg' %}" style="width: 612px; height: 612px; object-fit: cover;" alt="about-img">
			</div>
		</div>
	</div>
	<!-- <div class="cloud">&nbsp;</div>
	<div class="cloud-two">&nbsp;</div>
	<div class="mini-cloud"></div>
	<div class="mini-cloud two"></div>
	<div class="mini-cloud three"></div> -->
</div>
	
	<!--===================== End of Slider ========================-->
	<!--===================== Reasons Block ========================-->

	<div class="container">
		<div class="row reasons-block animatedParent">
			<div class="col-xl-4 col-lg-4 col-12 animated bounceInLeft delay-250">
				<h2 class="h2-main">در موسسه حقوقی جاننثاری، ما به ارزش‌هایی پایبند هستیم که نه تنها در هسته هر پرونده حقوقی ما قرار دارند، بلکه نشان‌دهنده تعهد عمیق ما به مشتریان‌مان نیز هستند:</h2>
			</div>
			<div class="col-xl-8 col-lg-8 col-12">
				<div class="row">
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-250">
						<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div">
								<img src="https://abounaja-cdn.mo.cloudinary.net/assets/img/people_focused.png?v=3" width="100%" height="100%" loading="eager"  alt="images">
							</div>
							<div class="reasons-desc-div">
								<h4 style="text-align: right;">تعهد به شفافیت</h4>
								<p>ما بر این باوریم که ارتباط صادقانه و روشن با موکلان، نه تنها کلید موفقیت بلکه پایه‌گذار اعتماد است. ما همواره در هر مرحله از پرونده، شما را در جریان تمام جزئیات قرار می‌دهیم تا بتوانید با اطمینان تصمیم‌گیری کنید و احساس قدرت کنید.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
					</div>
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-500">
						<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div">
								<img src="https://abounaja-cdn.mo.cloudinary.net/assets/img/insightful.png?v=3" width="100%" height="100%" loading="eager" class="insightful" alt="images">
							</div>
							<div class="reasons-desc-div">
								<h4 style="text-align: right;">سرعت و دقت در خدمات</h4>
								<p>در دنیای پرسرعت امروز، زمان طلاست. تیم ما متعهد است که پرونده‌های شما را با دقت و سرعت بی‌نظیر پیگیری کند، بدون اینکه کیفیت خدمات ما تحت تأثیر قرار گیرد. ما می‌دانیم که هر ثانیه برای شما مهم است.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
						
					
					</div>
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-250">
					  		<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div">
								<img src="https://abounaja-cdn.mo.cloudinary.net/assets/img/business_growth.png?v=3" width="100%" height="100%" loading="eager" alt="images">
							</div>
							<div class="reasons-desc-div">
								<h4 style="text-align: right;">حفظ محرمانگی و اعتماد</h4>
								<p>اعتماد شما برای ما از ارزش بالایی برخوردار است. ما به حفاظت از اطلاعات شخصی و محرمانه شما متعهدیم و با رعایت بالاترین استانداردهای امنیتی، حریم خصوصی شما را در امان نگه می‌داریم. احساس امنیت شما، اولویت ماست.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
					</div>
					
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-500">
						<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div">
								<img src="https://abounaja-cdn.mo.cloudinary.net/assets/img/client_support.png?v=3" width="100%" height="100%" loading="eager" alt="images">
							</div>
							<div class="reasons-desc-div">
								<h4 style="text-align: right;"> پشتیبانی حقوقی پایدار</h4>
								<p>خدمات ما فراتر از مشاوره حقوقی ساده است. ما همواره در کنار شما خواهیم بود و در تمام مراحل پرونده‌تان از حقوق و منافع شما حمایت می‌کنیم. با ما، هیچ‌گاه تنها نخواهید بود و می‌توانید به ما اعتماد کنید.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
					</div>
					
				</div>
			</div>
		</div>
	</div>
	</div>
	<!--===================== End of Reasons Block ========================-->

	
						<!--===================== End of Last News ========================-->
                        <a href="https://wa.me/989220263191" class="whatsapp-button" target="_blank" title="ارسال پیام به واتساپ">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
                            <span class="tooltip">با ما در تماس باشید</span>
                        </a>
{%endblock%}