{% extends 'Persion_base.html' %}
{% load static %}
{% block content %}

<div style="height: 100px;"></div> <!-- فضای اضافی -->
<h1 style="display: none;">جان نثاری</h1>


<div class="c-container" style="position: relative; background-image: url('{% static "assets/img/background.great.png" %}'); background-size: cover;  ">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="text-section" style="color: #080808 ">
                    <br>
                    <br>
                    <br>
					<br>
                    <br>
                    <br>
					<br>
                    <br>
                    <br>
                    <h3>مسیر کسب‌وکارتان را با همراهی حقوقی هموار می‌کنیم؛ شما آسوده پیش بروید، ما حامی حقوق شما هستیم.</h3>
                </div>
            </div>
            <div class="col-lg-5 img_991">
                <picture>
					<img src="{% static 'assets/img/gayid.png' %}" 
					style="width:100%; height: 100%; object-fit: cover;  max-width: 100%; ">
							   </picture>
            </div>

			<style>
				@media (min-width: 992px) {
					.img_991 img {
						
						margin-left: -90px;
					}
					.c-container{

height: 100%;
}
				}
			
				@media (max-width: 991px) {
					.img_991 img {
						margin-left: 0; /* برای اطمینان از عدم جابه‌جایی در موبایل */
					}
					.c-container{

						height: 1000px;
					}
				}
			</style>
			
        </div>
    </div>
</div>


<!-- <div class="c-container" style="position: relative; background-color:#cca554 !important; height: 12cm; width: 100%;">
	<div class="container">
	  <div class="row">
		<div class="col-lg-7">
		  <div class="text-section" style="color: #fff">
			<div style="height: 100px;"></div>
			<h3>50 YEARS OF PASSION<br> AND INNOVATION</h3>
			<p style="color: #ddd">Abou Naja Intellectual Property is celebrating 50 years of<br> achievements in building the Intellectual Property foundation<br> in the Middle East. As we celebrate our past, we aspire to<br> shape the future. We will continue to lead the change, support<br> the growth of our region and protect ideas through innovation.</p>
		  </div>
		</div>
		 <div class="col-lg-5 img_991">
			<img src="{% static 'assets/img/DALL.webp' %}" alt="Celebration Image" class="responsive-img">
		  </div> -->
		  
	  <!-- </div>
	</div>
  </div>  -->
  

<div style="height: 150px;"></div>
	
	<!--===================== End of Slider ========================-->
	<!--===================== Reasons Block ========================-->

	<div class="container">
		<div class="row reasons-block animatedParent">
			<div class="col-xl-4 col-lg-4 col-12 animated bounceInLeft delay-250">
				<h2 class="h2-main">در موسسه حقوقی جاننثاری، ما به ارزش‌هایی پایبند هستیم که نه تنها در هسته هر پرونده حقوقی ما قرار دارند، بلکه نشان‌دهنده تعهد عمیق ما به مشتریان‌مان نیز هستند:</h2>
			</div>
			<div class="col-xl-8 col-lg-8 col-12">
				<div class="row">
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-250">
						<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div reason-1">
							</div>
							<div class="reasons-desc-div">
								<h4 style="text-align: right;">تعهد به شفافیت</h4>
								<p>ما بر این باوریم که ارتباط صادقانه و روشن با موکلان، نه تنها کلید موفقیت بلکه پایه‌گذار اعتماد است. ما همواره در هر مرحله از پرونده، شما را در جریان تمام جزئیات قرار می‌دهیم تا بتوانید با اطمینان تصمیم‌گیری کنید و احساس قدرت کنید.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
					</div>
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-500">
						<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div reason-2">
							</div>
							<div class="reasons-desc-div">
								<h4 style="text-align: right;">سرعت و دقت در خدمات</h4>
								<p>در دنیای پرسرعت امروز، زمان طلاست. تیم ما متعهد است که پرونده‌های شما را با دقت و سرعت بی‌نظیر پیگیری کند، بدون اینکه کیفیت خدمات ما تحت تأثیر قرار گیرد. ما می‌دانیم که هر ثانیه برای شما مهم است.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
						
					
					</div>
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-250">
					  		<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div reason-3">
							</div>
							<div class="reasons-desc-div">
								<h4 style="text-align: right;">حفظ محرمانگی و اعتماد</h4>
								<p>اعتماد شما برای ما از ارزش بالایی برخوردار است. ما به حفاظت از اطلاعات شخصی و محرمانه شما متعهدیم و با رعایت بالاترین استانداردهای امنیتی، حریم خصوصی شما را در امان نگه می‌داریم. احساس امنیت شما، اولویت ماست.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
					</div>
					
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-500">
						<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div reason-4">
							</div>
							<div class="reasons-desc-div">
								<h4 style="text-align: right;"> پشتیبانی حقوقی پایدار</h4>
								<p>خدمات ما فراتر از مشاوره حقوقی ساده است. ما همواره در کنار شما خواهیم بود و در تمام مراحل پرونده‌تان از حقوق و منافع شما حمایت می‌کنیم. با ما، هیچ‌گاه تنها نخواهید بود و می‌توانید به ما اعتماد کنید.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
					</div>
					
				</div>
			</div>
		</div>
	</div>
	</div>
	<!--===================== End of Reasons Block ========================-->

	
						<!--===================== End of Last News ========================-->
                        <a href="https://wa.me/989220263191" class="whatsapp-button" target="_blank" title="ارسال پیام به واتساپ">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
                            <span class="tooltip">با ما در تماس باشید</span>
                        </a>
{%endblock%}