{% extends 'Persion_base.html' %}
{% load static %}
{% block content %}

	<!--===================== First Section ========================-->


		<div class="first-section animatedParent" style="margin-bottom: 200px">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInLeft">
							<div class="text" style="padding-top: 0px;max-width: 600px">
						
						<div class="">
							<ul class="breadcrumbs d-none d-md-block"><li><a href="{% url  'main:homepage_fa' %}">خانه</a> ▸</li><li><a href="{% url  'main:services_fa' %}">خدمات ما</a> ▸</li><li><a href="{% url  'main:ip-server_fa' %}" title="Patent">مالکیت فکری</a></li></ul>

							<p class="product-title" itemprop="name"> خدمات مالکیت فکری</p>


							<div class="overview-pricing-cta ">
	<!-- 							<p class="button-top" style="font-size: 1.1em;line-height: 1.2em;    margin: 40px 0 10px;
    padding-left: 0;
    text-align: center;width: 405px">Most people complete our questionnaire in under 15 minutes.<br></p> -->

								
								
								<!-- <p class="button-bottom" style="text-align: center;width: 400px">Pricing starts at $199 + Federal filing fees</p> -->


							</div>
							<p class="final-copy-class "></p>
						</div>
						
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInRight position-relative">
					<img src="{% static 'assets/img/patent2.jpg' %}" style="height: 621px;object-fit: cover" alt="about-img">
				</div>
			</div>
		</div>
		<!-- <div class="cloud">&nbsp;</div>
		<div class="cloud-two">&nbsp;</div>
		<div class="mini-cloud"></div>
		<div class="mini-cloud two"></div>
		<div class="mini-cloud three"></div> -->
	</div>

	

	<div class="second-section container" style="padding-left: 0px">
	 <div class="justify-content-center text-center">
					<h2 class="h2-main">خدمات مالکیت فکری</h2>
					<div class="clearfix"></div>
				
				 
				</div>
	</div>
	<!--===================== End of First Section ========================-->
	



<div class="container-fluid live-currency animatedParent boxes" style="overflow: inherit; padding: 15px 0">
		<div class="container">
			<div class="row align-items-center">
			    
			<p style="text-align:justify !important; padding:15px">
				وکلای ما به مشتریان در توسعه یک پرتفوی مالکیت فکری سفارشی کمک می‌کنند و به آنها در ثبت  پتنت‌ها، علائم تجاری، اسرار تجاری و بسیاری دیگر از اشکال مالکیت فکری در سراسر جهان یاری می‌رسانند.	</p>
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/IP_Portfolio_Management/download (5).png' %}" alt="images"  width='60' height='60'>  
						</div>
						 <div class="leftalign">
						    <h4>مدیریت پرتفوی مالکیت فکری</h4>
						
							<div class="review-text leftalign">ما نقاط ضعف پرتفوی مالکیت فکری شما را شناسایی و حذف می‌کنیم تا مانع سوءاستفاده‌های احتمالی از نام و اعتبار شما شویم. در زمینه رعایت قوانین مالکیت فکری، ما مسئولیت پیگیری و ثبت حق‌تألیف‌ها، پتنت‌های طراحی، علائم تجاری و ثبت گمرکی را بر عهده می‌گیریم. </div>
					    </div>
					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/IP_Portfolio_Management/download (7).png'%}" alt="images"  width='60' height='60'>  
						</div>
						
						<div class="leftalign">
						    <h4>خدمات ارزیابی مالکیت فکری</h4>
						
							<div class="review-text leftalign">متخصصان ارزیابی ما پیچیدگی‌های برنامه‌ریزی و ارزیابی پرتفوی‌های مختلف مالکیت فکری (IP) را در چارچوب پویایی‌های بخش و بازار گسترده IP درک می‌کنند. ما به بررسی تعامل بین مالکیت فکری شما و کاربردهای آن می‌پردازیم، تحلیل می‌کنیم که چه کسانی IP حیاتی در حوزه کسب‌وکار هدف شما را کنترل می‌کنند و فرصت‌ها و مخاطراتی که از این امر ناشی می‌شود را شناسایی می‌کنیم.</div>
					    </div>
					    
					 
					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/IP_Portfolio_Management/download (8).png' %}" alt="images"  width='60' height='60'>  
						</div>
						
						
						<div class="leftalign">
						    <h4>ممیزی مالکیت فکری</h4>
						
							<div class="review-text leftalign">ممیزی‌های مالکیت فکری به شما کمک می‌کنند تا دارایی‌های پنهان را شناسایی کنید، فناوری را ارزیابی کنید، مشکلات و  نقض ها را تشخیص دهید و گزینه‌های خرید را بررسی کنید. ما می‌توانیم IP شما را به صورت استراتژیک ارزیابی کنیم و بررسی کنیم که مدل‌های استراتژیک و بازاری شما چگونه با سرمایه‌گذاری در هزینه‌های کسب و دفاع از حقوق مالکیت فکری همخوانی دارد. هدف نهایی ما شناسایی بهترین روش‌ها برای به تحقق رساندن ایده‌های شما است. ما به شما کمک می‌کنیم فرآیندهایی را برای کسب ارزش ایده‌های خود در بازار تعریف کنید و امروز و در آینده از IP خود محافظت کنید، </div>
					    </div> 
					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/IP_Portfolio_Management/images (2).png' %}" alt="images"  width='60' height='60'>  
						</div>
						
							<div class="leftalign">
						    <h4>لیسانس و فرانشیز مالکیت فکری</h4>
						
							<div class="review-text leftalign">با افزایش دقت در خرید و ادغام کسب‌وکارها، تعامل با منطقه خاورمیانه و شمال آفریقا (MENA) نیازمند فهم عمیق کسب‌وکار، مهارت‌های مذاکره و درک بخش‌های مختلف است. شرکت ما که بر ایران تمرکز دارد، به نوآوران و سرمایه‌گذاران در مورد فرانشیز با توجه به عصر پیشرفته فناوری مشاوره می‌دهد و کمک می‌کند.  </div>
					    </div>
					     
						

					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/IP_Portfolio_Management/download (4).png' %}" alt="images"  width='60' height='60'>  
						</div>
							<div class="leftalign">
						    <h4>خدمات ارزیابی و بررسی مالکیت فکری</h4>
						
							<div class="review-text leftalign">
								ما یک طیف گسترده از خدمات شامل ادغام و تملک، معاملات سهامی، فرایندهای انحلال به دلیل گردش مالی، فروش، معاملات خرید توافقی و دادگاهی، درخواست‌های ورشکستگی، بازسازی بدهی و جمع‌آوری بدهی‌ها را ارائه می‌دهیم. 
							</div>
					    </div> 

					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px; max-height:10cm;">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/IP_Portfolio_Management/download (2).png' %}" alt="images"  width='60' height='60'>  
						</div>
						
							<div class="leftalign">
						    <h4>	خدمات حفاظت از مالکیت فکری	</h4>
						
							<div class="review-text leftalign">ما حفاظت برند و مالکیت فکری چندملیتی از مرحله شروع تا عرضه محصول را فراهم می‌کنیم. و خدماتی در برابر جعل و آسیب در زمینه‌های تقلب و انحراف محصول،  ارائه می‌دهیم. با همکاری نزدیک با مشتریان، کار ما نشان‌دهنده رویکردی نوآورانه و سازنده به یک مشکل پیچیده است. ما راه‌حل‌هایی ارائه می‌دهیم که اثرات منفی ناشی از استفاده نادرست از علائم تجاری، طراحی‌ها، پتنت‌ها و حق‌تألیف‌های شما را به حداقل می‌رساند یا از بین می‌برد.  </div>
					    </div> 
					

					</div>
					<!-- end  -->
				</div>
				
				
				 
				 
				</div>
			</div>
		
		 </div>
	</div>
	
	




	</div>
	<!--===================== End of Live Currency ========================-->



					<!--===================== End of Accordion Content ========================-->
				
					<!--===================== End of Accordion Content ========================-->
				</div>
				<!--===================== End of Accordion ========================-->

			</div>


			





	
{% endblock %}