{% extends 'Persion_base.html' %}
{% load static %}
{% block content %}

	<!--===================== First Section ========================-->


		<div class="first-section animatedParent" style="margin-bottom: 200px">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInLeft">
							<div class="text" style="padding-top: 0px;max-width: 600px">
						
						<div class="">
							<ul class="breadcrumbs d-none d-md-block"><li><a href="{% url  'main:homepage_fa' %}">خانه</a> ▸</li><li><a href="{% url  'main:services_fa' %}">خدمات</a> ▸</li><li><a href="{% url  'main:translation_fa' %}" title="Patent"> ترجمه </a></li></ul>

							<p class="product-title" itemprop="name"> خدمات ترجمه</p>


							<div class="overview-pricing-cta ">
	<!-- 							<p class="button-top" style="font-size: 1.1em;line-height: 1.2em;    margin: 40px 0 10px;
    padding-left: 0;
    text-align: center;width: 405px">Most people complete our questionnaire in under 15 minutes.<br></p> -->

								
								
								<!-- <p class="button-bottom" style="text-align: center;width: 400px">Pricing starts at $199 + Federal filing fees</p> -->


							</div>
							<p class="final-copy-class "></p>
						</div>
						
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInRight position-relative">
					<img src="{% static 'assets/img/translation.jpg' %}" style="width: 612px; height: 612px; object-fit: cover;" alt="about-img">
				</div>
			</div>
		</div>
		<!-- <div class="cloud">&nbsp;</div>
		<div class="cloud-two">&nbsp;</div>
		<div class="mini-cloud"></div>
		<div class="mini-cloud two"></div>
		<div class="mini-cloud three"></div> -->
	</div>

	

	<div class="second-section container" style="padding-left: 0px">
	 <div class="justify-content-center text-center">
					<h2 class="h2-main">خدمات ترجمه</h2>
					<div class="clearfix"></div>
				
				 
				</div>
	</div>
	<!--===================== End of First Section ========================-->




<div class="container-fluid live-currency animatedParent boxes" style="overflow: inherit; padding: 15px 0">
		<div class="container">
			<div class="row align-items-center">
			    
			<p style="text-align:justify !important; padding:15px">
				مالکیت فکری دفتر حقوقی جان نثاری خدمات ترجمه خلاقانه و کارآمدی را ارائه می‌دهد که نیازهای ارتباطی شما را پوشش می‌دهد. چه به ترجمه شفاهی نیاز داشته باشید و چه کتبی، از متنی نوشته شده یا یک ویدئو، مترجمان بومی ما با دقت فرهنگی و مهارت‌های زبانی بالا آماده‌اند تا هر پروژه ترجمه را با دقت و ارزیابی تضمین شده و با قیمت‌های رقابتی انجام دهند. ما به ارائه خدمات ترجمه با کیفیت بالا در زمان مناسب و با هزینه‌های معقول متعهدیم ، بدون توجه به رویکرد ارتباطی یا زبانی شما.	</p>
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px; height: 14cm;">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/Translation_Services/download (10).png' %}" alt="images"  width='60' height='60'>  
						</div>
						 <div class="leftalign">
						    <h4>خدمات ترجمه حقوقی</h4>
						
							<div class="review-text leftalign">مترجمان مجرب ما با قوانین ملی و بین‌المللی آشنا هستند. ما اینجا هستیم تا به شما کمک کنیم تا متون حقوقی نوشته شده به زبان‌های مختلف را بفهمید و تفاوت‌های بین سیستم‌های حقوقی مختلف را درک کنید. هر گونه درخواست ترجمه حقوقی که داشته باشید، ما آماده‌ایم تا ترجمه‌های با کیفیت و دقیق را به شما ارائه دهیم. </div>
					    </div>
					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px; height: 14cm;">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/Translation_Services/download (9).png' %}" alt="images"  width='60' height='60'>  
						</div>
						
						<div class="leftalign">
						    <h4>خدمات ترجمه فنی</h4>
						
							<div class="review-text leftalign">با استفاده از خدمات مترجمان فنی ما، مطمئن باشید که هر کلمه از مواد فنی تخصصی شما به درستی ترجمه خواهد شد. ما اهمیت اطلاعات دقیق و فنی را می‌دانیم و اطمینان می‌دهیم که هیچ نکته‌ای در کار مترجمان ما نادیده نخواهد ماند. سیستم کنترل کیفیت فنی ما تضمین می‌کند که هر بار ترجمه‌ها را با جزئیات کامل ارائه دهیم. مترجمان فنی ما نیز در زمینه‌های تخصصی خود متمرکز هستند، بنابراین می‌توانید مطمئن باشید که پروژه شما در دستان بهترین افراد است.</div>
					    </div>
					    
					 
					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px; height: 14cm;">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/Translation_Services/images (3).png' %}" alt="images"  width='110' height='110'>  
						</div>
						
						
						<div class="leftalign">
						    <h4>ترجمه قضایی</h4>
						
							<div class="review-text leftalign">مدارکی مانند گواهی تولد یا ازدواج، سند هویتی، مدارک بازداشت، سند ملک یا پرونده‌های قضایی نیاز به ترجمه قضایی و ترجمه رسمی دارند. ما مترجمان داخلی داریم که ترجمه‌های معتبر دادگاهی از تمامی این مدارک را با کیفیت بالا ارائه می‌دهند. </div>
					    </div> 
					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/Translation_Services/images (1).png' %}" alt="images"  width='110' height='110'>  
						</div>
						
							<div class="leftalign">
						    <h4>خدمات ترجمه حقوقی تخصصی</h4>
						
							<div class="review-text leftalign"> ترجمه حقوقی شامل ترجمه متون قانونی، قوانین و مدیریت آن قوانین می‌شود. هر زمان که یک سابقه قانونی ایجاد شود، به ترجمه حقوقی نیاز دارید. تیم مترجمان ما که از کارشناسان باتجربه در زمینه‌های خود تشکیل شده، به بالاترین استانداردهای صنعت ترجمه پایبند است و آماده پاسخگویی به این نیازها در اسرع وقت هستیم.  </div>
					    </div>
					     
						

					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/Translation_Services/images.png' %}" alt="images"  width='60' height='60'>  
						</div>
							<div class="leftalign">
						    <h4>خدمات ترجمه معتبر</h4>
						
							<div class="review-text leftalign">
								برای مصاحبه شغلی در یک کشور یا شرکت خارجی، نیاز به ترجمه معتبر مدرک، دیپلم یا گواهی حرفه‌ای خود دارید. اگر شما یک شرکت هستید که متخصصان معتبر را استخدام می‌کنید، به ترجمه‌های معتبر مدارک آنها نیاز خواهید داشت. تأییدیه‌های بین‌المللی ما به ما اجازه می‌دهد تا چنین ترجمه‌هایی را صادر کنیم و اعتبار قانونی آنها را تضمین کنیم. 
							</div>
					    </div> 

					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px; max-height:10cm;">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/Translation_Services/download (11).png' %}" alt="images"  width='60' height='60'>  
						</div>
						
							<div class="leftalign">
						    <h4>	خدمات ترجمه ادبی	</h4>
						
							<div class="review-text leftalign">ما ترجمه‌های ادبی بی‌نقصی از بالاترین کیفیت را برای انواع کتاب‌های ادبی ارائه می‌دهیم. نام نیک شما با مترجمان ادبی مجرب ما در امان است.  </div>
					    </div> 
					

					</div>
					<!-- end  -->
				</div>
				
				
				 
				 
				</div>
			</div>
		
		 </div>
	</div>
	
	




	</div>
	<!--===================== End of Live Currency ========================-->



					<!--===================== End of Accordion Content ========================-->
				
					<!--===================== End of Accordion Content ========================-->
				</div>
				<!--===================== End of Accordion ========================-->

			</div>







	
{% endblock %}