{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style="height: 200px;"></div> <!-- فضای اضافی -->



<div class="c-container" style="position: relative; background-color:#cca554 !important; height:100%">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="text-section" style="color: #fff">
					<br>
					<br>
					<br>
                    <h3>50 YEARS OF PASSION<br> AND INNOVATION</h3>
                    <p style="color: #ddd">Abou Naja Intellectual Property is celebrating 50 years of<br> achievements in building the Intellectual Property foundation<br> in the Middle East. As we celebrate our past, we aspire to<br> shape the future. We will continue to lead the change, support<br> the growth of our region and protect ideas through innovation.</p>
                </div>
            </div>
            <div class="col-lg-5 img_991">
                <picture>
                  
					<img src="{% static 'assets/img/dell3.webp' %}"  style="width: 100%; height:100%;">
                </picture>
            </div>
        </div>
    </div>
</div>



<!-- <div class="c-container" style="position: relative; background-color:#cca554 !important; height: 12cm; width: 100%;">
	<div class="container">
	  <div class="row">
		<div class="col-lg-7">
		  <div class="text-section" style="color: #fff">
			<div style="height: 100px;"></div>
			<h3>50 YEARS OF PASSION<br> AND INNOVATION</h3>
			<p style="color: #ddd">Abou Naja Intellectual Property is celebrating 50 years of<br> achievements in building the Intellectual Property foundation<br> in the Middle East. As we celebrate our past, we aspire to<br> shape the future. We will continue to lead the change, support<br> the growth of our region and protect ideas through innovation.</p>
		  </div>
		</div> -->
		<!-- <div class="col-lg-5 img_991">
			<img src="{% static 'assets/img/DALL.webp' %}" alt="Celebration Image" class="responsive-img">
		  </div> -->
		  
	  <!-- </div>
	</div>
  </div>
   -->

<div style="height: 150px;"></div>
	
	<!--===================== End of Slider ========================-->
	<!--===================== Reasons Block ========================-->

	<div class="container">
		<div class="row reasons-block animatedParent">
			<div class="col-xl-4 col-lg-4 col-12 animated bounceInLeft delay-250">
				<h2 class="h2-main">We are exceptional at what we do. And here is why.</h2>
			</div>
			<div class="col-xl-8 col-lg-8 col-12">
				<div class="row">
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-250">
						<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div">
								<img src="https://abounaja-cdn.mo.cloudinary.net/assets/img/people_focused.png?v=3" width="100%" height="100%" loading="eager"  alt="images">
							</div>
							<div class="reasons-desc-div">
								<h4>Catalysing Change</h4>
								<p>We are believers that progress happens through change. And that change can only happen through our people. That is why they are in charge. They are our agents of change.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
					</div>
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-500">
						<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div">
								<img src="https://abounaja-cdn.mo.cloudinary.net/assets/img/insightful.png?v=3" width="100%" height="100%" loading="eager" class="insightful" alt="images">
							</div>
							<div class="reasons-desc-div">
								<h4>Perceptive Perspective</h4>
								<p>Because we know how to get things done right when they go wrong, you'll find the support you need to get forward. Decades of expertise have given us the perception to equip you with the perspective you need to get ahead.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
						
					
					</div>
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-250">
					  		<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div">
								<img src="https://abounaja-cdn.mo.cloudinary.net/assets/img/business_growth.png?v=3" width="100%" height="100%" loading="eager" alt="images">
							</div>
							<div class="reasons-desc-div">
								<h4>Thinking Big For You</h4>
								<p>Our knowledge generates cultural strength and integrity and is original, practical and durable through our solutions.  As the laws of business continue to evolve, we must become adept at managing change as a strategic asset rather than a hurdle.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
					</div>
					
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-500">
						<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div">
								<img src="https://abounaja-cdn.mo.cloudinary.net/assets/img/client_support.png?v=3" width="100%" height="100%" loading="eager" alt="images">
							</div>
							<div class="reasons-desc-div">
								<h4>Intellectual Matchmaking</h4>
								<p>We diligently and carefully choose the appropriate expertise to suit your needs. Specialists who comprehend and communicate with professionalism and relativity. We will never compromise on any opportunity to retain the true value of your intellectual property.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!--===================== End of Reasons Block ========================-->

	
						<!--===================== End of Last News ========================-->
						<a href="https://wa.me/989220263191" class="whatsapp-button" target="_blank" title="   ">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
                            <span class="tooltip">Send us your message</span>
                        </a>
{%endblock%}