{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="first-section animatedParent" style="margin-bottom: 200px">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInLeft">
						<div class="text" style="padding-top: 0px;max-width: 600px">
					
					<div class="">

						<p class="product-title" itemprop="name"> </p>

						<h1 style="font-size: 2.7em;
line-height: 1.15em;
margin: 0 0 .3em;font-weight: normal;" class="registration_quote"> <br>
<br class="d-none d-xl-block"> </h1>
						<p class="subheading" style="line-height: 1.2em;
margin: 0 0 1.1em;font-size: 1.1em"></p>

						<div class="overview-pricing-cta ">
<!-- 							<p class="button-top" style="font-size: 1.1em;line-height: 1.2em;    margin: 40px 0 10px;
padding-left: 0;
text-align: center;width: 405px">Most people complete our questionnaire in under 15 minutes.<br></p> -->


						 <!-- <a id="pt-reg" " class="btn btn-primary" href="https://abounaja.com/patent-registration" style="font-size: 1.2em; 
 max-width: 400px;  padding: .7em 0;    text-align: center;border: 0;-webkit-border-radius: 4px; 
moz-border-radius: 4px; 
ms-border-radius: 4px; 
border-radius: 4px; 
margin: 0 0 .3em; 
 width: 100%; 
display: inline-block;color: white">Start my Patent Registration</a> -->
							
							
							<!-- <p class="button-bottom" style="text-align: center;width: 400px">Pricing starts at $199 + Federal filing fees</p> -->


						</div>
						<p class="final-copy-class "></p>
					</div>
					
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInRight position-relative">
				<img src="{% static 'assets/img/finall4.jpg' %}" style="width: 612px; height: 612px; object-fit: cover;" alt="about-img">
			</div>
		</div>
	</div>
	<!-- <div class="cloud">&nbsp;</div>
	<div class="cloud-two">&nbsp;</div>
	<div class="mini-cloud"></div>
	<div class="mini-cloud two"></div>
	<div class="mini-cloud three"></div> -->
</div>
    <!--===================== Live Currency ========================-->


	
	<!--===================== End of Slider ========================-->
	<!--===================== Reasons Block ========================-->

	<div class="container">
		<div class="row reasons-block animatedParent">
			<div class="col-xl-4 col-lg-4 col-12 animated bounceInLeft delay-250">
				<h2 class="h2-main">At Jannesari Law Office, we cherish the values that lie at the core of every legal case:</h2>
			</div>
			<div class="col-xl-8 col-lg-8 col-12">
				<div class="row">
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-250">
						<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div">
								<img src="https://abounaja-cdn.mo.cloudinary.net/assets/img/people_focused.png?v=3" width="100%" height="100%" loading="eager"  alt="images">
							</div>
							<div class="reasons-desc-div">
								<h4>Commitment to Transparency</h4>
								<p>We believe that honest and clear communication with our clients is one of the keys to success. At every stage of the case, we strive to keep you informed about all details so that you can make informed decisions.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
					</div>
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-500">
						<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div">
								<img src="https://abounaja-cdn.mo.cloudinary.net/assets/img/insightful.png?v=3" width="100%" height="100%" loading="eager" class="insightful" alt="images">
							</div>
							<div class="reasons-desc-div">
								<h4>Speed and Accuracy in Services</h4>
								<p>In today’s fast-paced world, timeliness is crucial. Our team is committed to handling your cases with both precision and speed, without sacrificing quality.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
						
					
					</div>
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-250">
					  		<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div">
								<img src="https://abounaja-cdn.mo.cloudinary.net/assets/img/business_growth.png?v=3" width="100%" height="100%" loading="eager" alt="images">
							</div>
							<div class="reasons-desc-div">
								<h4>Confidentiality and Trust</h4>
								<p>Your trust in us is sacred. We are dedicated to managing all your information with the highest level of confidentiality and are always diligent in protecting your privacy.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
					</div>
					
					<div class="col-sm-12 col-md-6 animated bounceInRight delay-500">
						<!--===================== Reason Block Cont ========================-->
						<div class="reason-block-cont">
							<div class="reasons-icon-div">
								<img src="https://abounaja-cdn.mo.cloudinary.net/assets/img/client_support.png?v=3" width="100%" height="100%" loading="eager" alt="images">
							</div>
							<div class="reasons-desc-div">
								<h4>Sustained Legal Support</h4>
								<p>Our services go beyond simple legal consultation. We guarantee continuous support and legal assistance throughout all stages of your case, ensuring that you always have us by your side and can rely on us.</p>
							</div>
						</div>
						<!--===================== End of Reason Block Cont ========================-->
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!--===================== End of Reasons Block ========================-->

	
						<!--===================== End of Last News ========================-->

{%endblock%}