{% extends 'base.html' %}
{% load static %}
{% block content %}

	<!--===================== First Section ========================-->


		<div class="first-section animatedParent" style="margin-bottom: 200px">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInLeft">
							<div class="text" style="padding-top: 0px;max-width: 600px">
						
						<div class="">
							<ul class="breadcrumbs d-none d-md-block"><li><a href="https://abounaja.com">Home</a> ▸</li><li><a href="https://abounaja.com/services">Practice Areas</a> ▸</li><li><a href="https://abounaja.com/services/patent" title="Patent">Patent</a></li></ul>

							<p class="product-title" itemprop="name"> IP Services</p>


							<div class="overview-pricing-cta ">
	<!-- 							<p class="button-top" style="font-size: 1.1em;line-height: 1.2em;    margin: 40px 0 10px;
    padding-left: 0;
    text-align: center;width: 405px">Most people complete our questionnaire in under 15 minutes.<br></p> -->

								
								
								<!-- <p class="button-bottom" style="text-align: center;width: 400px">Pricing starts at $199 + Federal filing fees</p> -->


							</div>
							<p class="final-copy-class "></p>
						</div>
						
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInRight position-relative">
					<img src="{% static 'assets/img/patent2.jpg' %}" style="height: 621px;object-fit: cover" alt="about-img">
				</div>
			</div>
		</div>
		<!-- <div class="cloud">&nbsp;</div>
		<div class="cloud-two">&nbsp;</div>
		<div class="mini-cloud"></div>
		<div class="mini-cloud two"></div>
		<div class="mini-cloud three"></div> -->
	</div>

	

	<div class="second-section container" style="padding-left: 0px">
	 <div class="justify-content-center text-center">
					<h2 class="h2-main">Intellectual Property Services</h2>
					<div class="clearfix"></div>
				
				 
				</div>
	</div>
	<!--===================== End of First Section ========================-->
	<div class="reviews-wrapper animatedParent" style="display: none;">
		<div class="container">
			<div class="row">
				<div class="reviews-item col-xl-4 col-md-4 col-sm-12 animated bounceInLeft delay-250">
					<div class="reviews-inside">
						<div class="reviews-img-wrap">
							<img src="https://abounaja.com/assets/img/review-img1.png" alt="images">
						</div>
						<h4>Lora Michel</h4>
						<p class="text-uppercase">Patel Psych</p>
						<p class="review-text">Absolutely wonderful! I am completelyblown away. The very best. I was amazed at the quality.</p>
					</div>
				</div>
				<div class="reviews-item col-xl-4 col-md-4 col-sm-12 animated bounceInLeft delay-500">
					<div class="reviews-inside">
						<div class="reviews-img-wrap">
							<img src="https://abounaja.com/assets/img/review-img1.png" alt="images">
						</div>
						<h4>Nina Rich</h4>
						<p class="text-uppercase">Panax Pharma</p>
						<p class="review-text">Absolutely wonderful! I am completelyblown away. The very best. I was amazed at the quality.</p>
					</div>
				</div>
				<div class="reviews-item col-xl-4 col-md-4 col-sm-12 animated bounceInLeft delay-750">
					<div class="reviews-inside">
						<div class="reviews-img-wrap">
							<img src="https://abounaja.com/assets/img/review-img1.png" alt="images">
						</div>
						<h4>Robert Patinson</h4>
						<p>HoolaHire</p>
						<p class="review-text">Absolutely wonderful! I am completelyblown away. The very best. I was amazed at the quality.</p>
					</div>
				</div>
			</div>
		</div>
	</div>



<div class="container-fluid live-currency animatedParent boxes" style="overflow: inherit; padding: 15px 0">
		<div class="container">
			<div class="row align-items-center">
			    
			<p style="text-align:justify !important; padding:15px">
				Our attorneys assist clients in the development of a tailored intellectual property portfolio, and help procure patents, trademarks, trade secrets and many other forms of intellectual property all over the world. 	</p>
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/IP_Portfolio_Management/IP_Portfolio_Management.png' %}" alt="images"  width='101' height='101'>  
						</div>
						 <div class="leftalign">
						    <h4>IP Portfolio Management</h4>
						
							<div class="review-text leftalign">We identify and eliminate the weaknesses in your IP portfolio that celluloid vultures could use as leverage to try to take control of your IP or make money from your good name. As for IP compliance, we keep track of filing and registering your copyrights, design patents, trademarks and customs recordals for you. </div>
					    </div>
					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/IP_Portfolio_Management/IP_Valuation.png'%}" alt="images"  width='101' height='101'>  
						</div>
						
						<div class="leftalign">
						    <h4>Intellectual Property Valuation Services</h4>
						
							<div class="review-text leftalign">Our valuation specialists understand the complexities of planning and valuing varied intellectual property (IP) portfolios in the context of sector dynamics and the broad IP market. We examine the interplay between your intellectual property and its applications, exploring who controls vital IP in your target business area, and the opportunities and exposures that follow.</div>
					    </div>
					    
					 
					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/IP_Portfolio_Management/Audit.png' %}" alt="images"  width='101' height='101'>  
						</div>
						
						
						<div class="leftalign">
						    <h4>IP Audit</h4>
						
							<div class="review-text leftalign">IP audits help you identify hidden assets, test technology, spot infringement issues, and evaluate acquisition candidates. We can also evaluate your IP strategically, looking at how your own strategic and market models fit with your investment in the costs for acquiring and defending intellectual property rights. Our ultimate goal is to identify best practices for realising your ideas. We help you define the processes for getting the value of your ideas into the marketplace and guard your IP today and in the future, setting the stage for your business to prosper.</div>
					    </div> 
					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/IP_Portfolio_Management/Licensing_franchising.png' %}" alt="images"  width='101' height='101'>  
						</div>
						
							<div class="leftalign">
						    <h4>IP Licensing and Franchising</h4>
						
							<div class="review-text leftalign">As the acuity of business acquisitions and buyout increases, dealing with MENA requires a level of business understanding, negotiation saving skills and understanding of different segments. Our firm concentrated on MENA represents a serious cognitive to advise and helps innovators and investor know franchising with a technological advanced era.  </div>
					    </div>
					     
						

					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/IP_Portfolio_Management/Due_Diligence.png' %}" alt="images"  width='101' height='101'>  
						</div>
							<div class="leftalign">
						    <h4>Intellectual Property Due Diligence Services</h4>
						
							<div class="review-text leftalign">
								We offer a diversified portfolio of intellectual property due diligence services that identify, evaluate and minimise risks inherent in intangible assets. 
							</div>
					    </div> 

					</div>
					<!-- end  -->
				</div>
				
				<div class="col-md-4 live-currency-div1 animated bounceInLeft delay-250" >
					<!-- start -->
					<div class="reviews-inside" style="padding: 23px;border-radius: 10px; max-height:10cm;">
						<div class="reviews-img-wrap">
							<img src="{% static 'assets/img/ServicesIcons/IP_Portfolio_Management/Anti-Counterfeit.png' %}" alt="images"  width='101' height='101'>  
						</div>
						
							<div class="leftalign">
						    <h4>	Intellectual Property Protection Services	</h4>
						
							<div class="review-text leftalign">We provide multinational brand and intellectual protection, from inception to product launch. With a history of over 40 years across the world we continue to afford protection against counterfeiting and harm in the areas of fraud and product diversion. In close cooperation with our clients, our work constructive approach to a complex problem. We offer solutions which minimise – or eliminate – the negative effects on your business due to the wrongful use of your trade marks, designs, patents and copyright.  </div>
					    </div> 
					

					</div>
					<!-- end  -->
				</div>
				
				
				 
				 
				</div>
			</div>
		
		 </div>
	</div>
	
	




	</div>
	<!--===================== End of Live Currency ========================-->



					<!--===================== End of Accordion Content ========================-->
				
					<!--===================== End of Accordion Content ========================-->
				</div>
				<!--===================== End of Accordion ========================-->

			</div>


			<div class="container">
				<div class="clearfix"></div>
				<br>
				<br>
				<div class="text-head text-center" style="margin-bottom: 50px">
					<h5>Questions</h5>
					<h2 class="h2-main">Cannot find what you are looking for?</h2>
				</div>

				 <div class="row">


			<div id="request" class="col-xl-12 col-lg-12 col-md-12 col-12 animated bounceInTop position-relative" style="padding-bottom: 35px;">
                     <div class="questionBlock"></div>
					<form class="message-form" action="" id="questionform" style="">

						<div class="text-left">
					<h4 style="margin-top: -7px">Ask us anything</h4>
					
					<article style="margin-top: 0px;margin-bottom: 15px;">
							
							<p style="margin-bottom: 0px;margin-top: 10px;line-height: 20px;">Our UAE-based experts are available<br class="d-none d-lg-block">Monday to Friday, from 10 AM to 7 PM.</p>
							
						</article>
					</div>
					<input type="hidden" name="_token" value="ggHe4RuSj4NkfntkzxfcqxExrlQPqtNGOhXtdy81">
					<input type="hidden" name="service" value="patent">
                    <div class="row">
						<div class="form-group col-md-6">
							
							<input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Name">
						</div>
						
						<div class="form-group col-md-6">
							
							<input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address (required)">
						</div>
					</div>
					
						<div class="row">
					
					
						<div class="form-group col-md-12">
							
							<div class="clearfix"></div><br>
							<select name="country[]" class="form-control country" multiple="true">
								<option></option>
                                                                <option value="Algeria">Algeria</option>
                                                                <option value="Bahrain">Bahrain</option>
                                                                <option value="Egypt">Egypt</option>
                                                                <option value="Jordan">Jordan</option>
                                                                <option value="Kuwait">Kuwait</option>
                                                                <option value="Lebanon">Lebanon</option>
                                                                <option value="Morocco">Morocco</option>
                                                                <option value="Oman">Oman</option>
                                                                <option value="Qatar">Qatar</option>
                                                                <option value="Saudi Arabia">Saudi Arabia</option>
                                                                <option value="Tunisia">Tunisia</option>
                                                                <option value="Turkey">Turkey</option>
                                                                <option value="United Arab Emirates">United Arab Emirates</option>
                                                                <option value="Other">Other</option>
                                							</select>
						</div>
					</div>

						<div class="form-group last">
						<input type="text" id="website" name="website" style="display: none;" />
						<input type="text" id="contacttr" name="contacttr" style="display: none;" />
						<textarea name="question" class="form-control" placeholder="Message"></textarea>
            
						</div>

					
						
						<div class="text-left">
						     <div class="g-recaptcha" data-sitekey="6LfjFyQhAAAAACGmE2C4mD9AEPoNgSztsoICUFg6"></div>
						     <br/>
							<button type="submit" id="blue-brd-btn-service" class="blue-brd-btn">Submit</button>
						</div>
					</form>
				</div>

			</div>
	            <!-- end row -->
			</div>





	
{% endblock %}