

{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="first-section animatedParent" >
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInLeft">
                <div class="text">
                    <h1 style="text-align: left">Areas of Expertise</h1>
                    <span class="d-flex align-items-center"><b class="line">&nbsp;</b>Intellectual Property<b class="line">&nbsp;</b></span>
                </div>
                <p style="color: white;max-width: 400px;margin-top: 15px">
                    Expertise and excellence drive our services above every standard. Our team of highly accomplished lawyers and experts work hard to ensure that each client receives quality solutions for any of their Intellectual Property concerns.
                </p>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 animated bounceInRight position-relative" style="height: 621px">
                <!-- <img src="assets/img/about-img.jpg" alt="about-img"> -->
            </div>
        </div>
    </div>
    
</div>

    <!--===================== Live Currency ========================-->
<div class="container-fluid live-currency animatedParent" id="trademarkdiv">
<div class="container">
   
    <div class="row align-items-center flex-column-reverse flex-md-row align-content-center">
        <div class="col-lg-6 col-md-6 live-currency-div1 animated bounceInLeft delay-250">
         
            <h2 class="h2-main">Trademark Services</h2>
         
        <p>
        Abou Naja Intellectual Property’s core ethos orbits around the notion that a respected brand is worthy of exhaustive Intellectual Property enforcement strategies. Enforcing your intellectual assets is our mission. Our qualified team of trademark attorneys and practitioners is dedicated to enforcing your trademark rights by providing you with the appropriate solutions.
        </p>
            <a href="https://abounaja.com/services/trademark" class="see-brd-btn">Learn More</a></div>
        
        <div class="col-lg-5 offset-lg-1 col-md-6 live-currency-div2 animated bounceInRight">
            <img  src="assets/img/services/trademark.jpg?v=6" style="height: 287px" alt="images">
            <br class="d-md-none">
            
        </div>
    </div>
    
</div>

<div class="clearfix"></div>
<br>







</div>
<!--===================== End of Live Currency ========================-->
















    <!--===================== Live Currency ========================-->
<div class="container-fluid live-currency animatedParent " id="patent">
<!--bggrey-->
<div class="container">
 

    <div class="row align-items-center flex-column-reverse flex-md-row align-content-center">	
        <div class="col-lg-6 col-md-6 live-currency-div1 animated bounceInLeft delay-500">
            <!--<h4>IP Rights</h4>-->
            <h2 class="h2-main">Patent Services</h2>
<!--				<p>We offer complete patent services that help create and protect novel and new-->
<!--inventions. Our attorneys are equipped with unmatched experience and-->
<!--technical expertise, to provide strategic guidance and services that include-->
<!--patent search and drafting, counseling, filing, registration, and renewal.</p>-->
<p>Abou Naja Intellectual Property is a regional pioneer in the application and enforcement of patent laws. It has a profound team of former patent examiners and industry-leading attorneys. 
The company has a robust corps of patent strategists and litigators, who diligently and aggressively enforce your rights on global scales. </p>
            
        <a href="https://abounaja.com/services/patent" class="see-brd-btn">Learn More</a>	</div>
        <div class="col-lg-5 offset-lg-1 col-md-6 live-currency-div2 animated bounceInRight delay-500">
            <img  src="assets/img/services/utility-patent.jpg?v=6" style="height: 287px" alt="images">
            <br class="d-md-none">
        </div>
    </div>

</div>

<div class="clearfix"></div>
<br>





</div>
<!--===================== End of Live Currency ========================-->

















    <!--===================== Live Currency ========================-->
<div class="container-fluid live-currency animatedParent" id="descser">
     <div class="container">
  
    <div class="row align-items-center flex-column-reverse flex-md-row align-content-center">
        <div class="col-lg-6 col-md-6 live-currency-div1 animated bounceInLeft delay-250">
            <!--<h4>IP Rights</h4>-->
            <h2 class="h2-main">Industrial Design and Utility Model Services</h2>
             <p>
            The fundamental distinction between design and utility patents: "visuals" (design) vs. "functionality" (utility). If you wish to protect your design’s aesthetics, you can file design patents. To protect technical functionality, you can file utility patents. It may be optimal to apply for both.
            </p>
                
                <a href="https://abounaja.com/services/industrial-design" class="see-brd-btn">Learn More</a>
                
        </div>
        <div class="col-lg-5 offset-lg-1 col-md-6 live-currency-div2 animated bounceInRight delay-500">
            <img  src="assets/img/services/design-patent.jpg?v=6" style="height: 287px" alt="images">
            <br class="d-md-none">
        </div>

</div>
</div>

<div class="clearfix"></div>
<br>




</div>
<!--===================== End of Live Currency ========================-->








<!--===================== Live Currency ========================-->
<div class="container-fluid live-currency animatedParent " id="plant" >
<!--bggrey-->
     <div class="container">

    <div class="row align-items-center flex-column-reverse flex-md-row align-content-center">
        <div class="col-lg-6 col-md-6 live-currency-div1 animated bounceInLeft delay-250">
         
            <h2 class="h2-main">Plant Varieties</h2>
            <!--<p>Plant variety rights, alternatively referred to as a plant breeder's privilege, is a form of intellectual property right provided to the breeder of a new plant variety in accordance with some acts concerning the protected variety's exploitation that require the breeder's prior authorization.</p>-->
            <p>
            Plant variety rights, alternatively referred to as a "plant breeder's privilege," is a form of intellectual property right provided to the breeder of a new plant variety. To determine the breeder's right, prior examination by the concerned authority is required. Despite the novelty of plant varieties, we provide a variety of services to protect and enforce these rights.
            </p>
                    <link href="https://assets.calendly.com/assets/external/widget.css" media="print" onload="this.media='all'" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
            
<a href="https://abounaja.com/services/plant-varieties" class="see-brd-btn">Learn More</a>

<!-- <li><a href="https://abounaja.com/services/plant_varieties">company</a></li> -->
    

        </div>
        <div class="col-lg-5 offset-lg-1 col-md-6 live-currency-div2 animated bounceInRight delay-500">
            <img  src="assets/img/Plant Varieties_05.png?v=6" style="height: 287px" alt="images">
            <br class="d-md-none">
        </div>
    </div>

</div>



<div class="clearfix"></div>
<br>



</div>
<!--===================== End of Live Currency ========================-->











    <!--===================== Live Currency ========================-->
<div class="container-fluid live-currency animatedParent " id="copy">
     <div class="container">

    <div class="row align-items-center flex-column-reverse flex-md-row align-content-center">
        <div class="col-lg-6 col-md-6 live-currency-div1 animated bounceInLeft delay-250">
            <!--<h4>IP Rights</h4>-->
            <h2 class="h2-main">Copyright</h2>
            <!--<p>Your original creative works deserve protections that work. We provide informed advice to ensure all the client's rights are effectively enforced.</p>-->
            <p>Copyright is a term that refers to the rights that creators have over their original artwork, especially artistic and literary works, regardless of their mode of composition, 
            function, or nature. Due to its wide scope of use, copyright is often used as a broadened compliance tool in the defense of copyright law, especially in light of the 
            Berne Convention's Automatic Protection Principle.</p>
            <a href="https://abounaja.com/services/copyright" class="see-brd-btn">Learn More</a>
        </div>
        <div class="col-lg-5 offset-lg-1 col-md-6 live-currency-div2 animated bounceInRight delay-500">
            <img  src="assets/img/services/copyright.jpg?v=6" style="height: 287px" alt="images">
            <br class="d-md-none">
        </div>
    </div>

</div>

<div class="clearfix"></div>
<br>




</div>
<!--===================== End of Live Currency ========================-->



























<div class="clearfix"></div>
<!--===================== Iphone Block ========================-->
<div class=" animatedParent " style="margin-bottom: 0px;padding-top: 50px;padding-bottom: 0px;" id="portfolio">
<!--bggrey-->

    <div class="container">

    <div class="row align-items-center flex-column-reverse flex-md-row align-content-center">
        <div class="col-lg-6 col-md-6 live-currency-div1 animated bounceInLeft delay-250">
         
            <h2 class="h2-main">IP Services</h2>
            <p>We support our clients by helping them build and expand a tailor-made IP portfolio. Our team of attorneys has a longstanding experience in providing innovative strategies that will help you develop, exploit and protect your IP assets efficiently.</p>

                    <link href="https://assets.calendly.com/assets/external/widget.css" media="print" onload="this.media='all'" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
            
            

        <a href="https://abounaja.com/services/consultation" class="see-brd-btn">Learn More</a>

        </div>
        
            <div class="col-lg-5 offset-lg-1 col-md-6 live-currency-div2 animated bounceInRight delay-500" style="padding-left: 0px !important;">
            <img  src="assets/img/services/consultation.jpg"  style="height: 287px" alt="images">
            <br class="d-md-none">
        </div>
        
        
        <!--<div class="col-lg-5 offset-lg-1 col-md-6 live-currency-div2 animated bounceInRight delay-500">-->
        <!--	<img  src="assets/img/services/consultation.jpg" style="height: 287px" alt="images">-->
        <!--    <br class="d-md-none">-->
        <!--</div>-->
    </div>

</div>


    
    <div class="container belowsection boxes" style="margin-top: 50px">
     
         
            <a style="display: none;" href="" class="see-brd-btn" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/abounaja/15min'});return false;">Start Now</a>

        
        
   </div>








<!--===================== Live Currency ========================-->
<div class="container-fluid live-currency animatedParent" id="oprotect"  >
     <div class="container">

    <div class="row align-items-center flex-column-reverse flex-md-row align-content-center">
        <div class="col-lg-6 col-md-6 live-currency-div1 animated bounceInLeft delay-250">
         
            <h2 class="h2-main">Online Protection Services</h2>
            <!--<p>As a trusted IP protection partner, we develop custom-tailored technical strategies to globally handle and secure our clients' intellectual property across global cyberspace mediums.</p>-->
            <p>
                As a trusted IP protection partner, we develop custom-tailored technical strategies to globally handle and secure our clients' intellectual property across global cyberspace mediums. 
                We regularly exceed protection expectations by providing solution-driven, commercially-focused IP services and guidance that protect your IP across all digital platforms.
               <a href="https://abounaja.com/services/online-protection-services" class="see-brd-btn">Learn More</a> </p>
                    <link href="https://assets.calendly.com/assets/external/widget.css" media="print" onload="this.media='all'" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
            

    

        </div>
        <div class="col-lg-5 offset-lg-1 col-md-6 live-currency-div2 animated bounceInRight delay-500">
            <img  src="assets/img/Online Protection_02.png?v=6" style="height: 287px" alt="images">
            <br class="d-md-none">
        </div>
    </div>

</div>





</div>
<!--===================== End of Live Currency ========================-->








<!--===================== Iphone Block ========================-->
<div class="iphone-block animatedParent" style="margin-bottom: 0px;background:#ffffff;padding-top: 50px;padding-bottom: 50px" id="traslation">

    <div class="container">

    <div class="row align-items-center flex-column-reverse flex-md-row align-content-center">
        <div class="col-lg-6 col-md-6 live-currency-div1 animated bounceInLeft delay-250">
            <!--<h4>IP Services</h4>-->
            <!--<h2 class="h2-main">Legal Translation</h2>-->
        <h2 class="h2-main">Translation Services</h2>
            <!--<p>Enabling innovative corporations to conduct business across multiple jurisdictions, and deterring infringements confidently. Our team of attorneys is well equipped with the necessary experience to help you enforce and protect your IP rights.</p>-->
            <p>
             Abou Naja Intellectual Property offers a broad array of translation services. Our team is comprised of native speakers who are certified translation specialists. Furthermore, we provide our translation services at affordable rates. We are well-prepared and equipped in providing high-quality results within time-sensitive deadlines.    
            </p> 
<a href="https://abounaja.com/services/legaltranslation" class="see-brd-btn">Learn More</a>
                    <link href="https://assets.calendly.com/assets/external/widget.css" media="print" onload="this.media='all'" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
            
            

 

        </div>
        <div class="col-lg-5 offset-lg-1 col-md-6 live-currency-div2 animated bounceInRight delay-500" style="padding-left:0px !important">
            <img  src="assets/img/services/legal-translation.jpg" style="height: 287px" alt="images">
            <br class="d-md-none">
        </div>
    </div>

</div>


    
 
          
   </div>



</div>	

<!--===================== End of Live Currency ========================-->










<div class="clearfix"></div>
<br>
</div>	
<!-- end of mobile block -->
<!--===================== Reasons Block ========================-->
<div class="container-fluid" style="margin-top: 75px;background-color: rgb(243,248,252);display: none;">
<div class="container" >
    <div class="row reasons-block animatedParent" style="margin-bottom: 75px;padding-top: 50px">
        
        <div class="col-xl-12 col-lg-12 col-12">
            <div class="row">
                <div class="col-lg-4 animated bounceInRight delay-250">
                    <!--===================== Reason Block Cont ========================-->
                    <div class="reason-block-cont">
                        <div class="reasons-icon-div">
                            <img src="assets/img/services/trademark_watch.jpg" alt="images">
                        </div>
                        <div class="reasons-desc-div">
                            <h4>Trademark Watch</h4>
                            <p>Rely on our global reach and expertise to protect your valuable assets from
infringement. Our team of experts are quick in responding to potentially infringing
trademark applications with a powerful suite of watch solutions.</p>
                        </div>
                    </div>
                    <!--===================== End of Reason Block Cont ========================-->
                </div>
                <div class="col-lg-4 animated bounceInRight delay-250">
                    <!--===================== Reason Block Cont ========================-->
                    <div class="reason-block-cont">
                        <div class="reasons-icon-div">
                            <img src="assets/img/services/custom_recordation.jpg" alt="images">
                        </div>
                        <div class="reasons-desc-div">
                            <h4>Custom Recordation</h4>
                            <p>As part of our Anti-Counterfeiting practice, we also provide customs recordations,
which help minimise IP infringement of counterfeit importation into the region
through a registration process.</p>
                        </div>
                    </div>
                    <!--===================== End of Reason Block Cont ========================-->
                </div>
                    <div class="col-lg-4 animated bounceInRight delay-500">
                    <!--===================== Reason Block Cont ========================-->
                    <div class="reason-block-cont">
                        <div class="reasons-icon-div">
                            <img src="assets/img/services/agreement_drafting.jpg" alt="images">
                        </div>
                        <div class="reasons-desc-div">
                            <h4>Agreement Drafting</h4>
                            <p>Our advisory service includes assisting our clients in drafting licensing or franchising
agreements, deeds of assignment or transfer, distribution contracts and secrecy
agreements.</p>
                        </div>
                    </div>
                    <!--===================== End of Reason Block Cont ========================-->
                </div>
                
                <div class="col-lg-4 animated bounceInRight delay-500">
                    <!--===================== Reason Block Cont ========================-->
                    <div class="reason-block-cont">
                        <div class="reasons-icon-div">
                            <img src="assets/img/services/due_diligence.jpg" alt="images">
                        </div>
                        <div class="reasons-desc-div">
                            <h4>Due Diligence<br>(Mergers and Acquisitions)</h4>
                            <p>Our deep understanding of IP law allows us to help clients quickly react to any issue
that emerges during an IP transaction through accurate answers, well-crafted contract
and proper risk allocation strategies.</p>
                        </div>
                    </div>
                    <!--===================== End of Reason Block Cont ========================-->
                </div>

                <div class="col-lg-4 animated bounceInRight delay-500">
                    <!--===================== Reason Block Cont ========================-->
                    <div class="reason-block-cont">
                        <div class="reasons-icon-div">
                            <img src="assets/img/services/licensing_and_franchising.jpg" alt="images">
                        </div>
                        <div class="reasons-desc-div">
                            <h4>Licensing and Franchising</h4>
                            <p>Our firm is reputed for its in-depth expertise in Licensing and Franchising; offering a
full range of services including, drafting and negotiating franchise agreements as well
as license agreements, taking into consideration all IP rights.</p>
                        </div>
                    </div>
                    <!--===================== End of Reason Block Cont ========================-->
                </div>
            
                <div class="col-lg-4 animated bounceInRight delay-500">
                    <!--===================== Reason Block Cont ========================-->
                    <div class="reason-block-cont">
                        <div class="reasons-icon-div">
                            <img src="assets/img/services/ip_portfolio_management.jpg" alt="images">
                        </div>
                        <div class="reasons-desc-div">
                            <h4>Portfolio Management</h4>
                            <p>Our attorneys continuously advise on IP portfolio management
with a focus on alignment with each of our clients&#39; overall
corporate strategy and objectives. We approach this from the
aim to understand your business needs and to provide solutions
that achieve your goals practically and cost-effectively.</p>
                        </div>
                    </div>
                    <!--===================== End of Reason Block Cont ========================-->
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- <div class="reasons-desc-div">
                            <h4>Legal Translation</h4>
                            <p>Our certified legal translators are meticulous and work on delivering accurate legal
translations in both Arabic and English. Their knowledge of local dialects and
language makes our translation department one of the leading translation service
providers in the region.</p>
                        </div> -->


<!--===================== End of Reasons Block ========================-->
<!--===================== Live Currency ========================-->
<div class="container-fluid live-currency animatedParent" style="display: none">
     <div class="container">
   
    <div class="row align-items-center">
        <div class="col-lg-5 col-md-4 live-currency-div1 animated bounceInLeft delay-250">
            <h4>IP Enforcement</h4>
            <h2 class="h2-main">Legal Translation</h2>
            <p>Enabling innovative corporations to conduct business across
multiple jurisdictions, deterring infringements confidently. Our team
of attorneys is well equipped with the necessary experience to help
you enforce and protect your IP rights.</p>
            <a href="" class="see-brd-btn">Register Now</a>
        </div>
        <div class="col-lg-6 offset-lg-1 col-md-5 live-currency-div2 animated bounceInRight delay-500">
            <img  src="assets/img/services/legal-translation.jpg?v=6" style="height: 266px;object-fit: cover;object-position: top" alt="images">
            
        </div>
    </div>
</div>
</div>
<!--===================== End of Live Currency ========================-->

    <!--===================== Live Currency ========================-->
<div class="container-fluid live-currency animatedParent" style="display: none;">
     <div class="container">

    <div class="row align-items-center">
        
        
        <div class="col-lg-5 col-md-4 live-currency-div1 animated bounceInLeft delay-250">
            <h4>IP Enforcement</h4>
            <h2 class="h2-main">Consultation</h2>
            <p>We support our clients by helping them build and expand a
tailor-made IP portfolio. Our team of attorneys has a
longstanding experience in providing innovative strategies that
will help you develop, exploit and protect your IP assets
efficiently.</p>
            <a href="https://abounaja.com/contact-us" class="see-brd-btn">Schedule your consultation</a>
        </div>
        <div class="col-lg-6 offset-md-1 col-md-5 live-currency-div2 animated bounceInRight delay-500">
            <img  src="assets/img/services/consultation.jpg?v=6" style="height: 266px;object-fit: cover;object-position: top" alt="images">
            
        </div>
    </div>
</div>
</div>
<!--===================== End of Live Currency ========================-->

    <!--===================== Live Currency ========================-->
<div class="container-fluid live-currency animatedParent" style="display: none;">
     <div class="container">
   
    <div class="row align-items-center">
        <div class="col-lg-5 col-md-4 live-currency-div1 animated bounceInLeft delay-250">
            <h4>IP Enforcement</h4>
            <h2 class="h2-main">Litigation</h2>
            <p>Through a team of expert litigators, we have gained extensive
experience in a wide range of IP matters, providing clients with
tailored litigation strategies per our clients’ interests and needs.</p>
            <a href="https://abounaja.com/contact-us" class="see-brd-btn">Request a call</a>
        </div>
        <div class="col-lg-6 offset-lg-1 col-md-5 live-currency-div2 animated bounceInRight delay-500">
            <img  src="assets/img/services/litigation.jpg?v=6" style="height: 266px;object-fit: cover;object-position: top" alt="images">
            
        </div>
    </div>
</div>
</div>
<!--===================== End of Live Currency ========================-->


<!--===================== Reviews Wrapper ========================-->
<div class="reviews-wrapper animatedParent" style="margin-top: 100px;margin-bottom: 0px;display: none;">
    <div class="container">

        <div class="row align-items-center">
            <div class="reviews-item col-xl-6 col-md-6 col-sm-12 animated bounceInLeft delay-250" style="margin-bottom: 20px">
                <div class="reviews-inside">
                    <div class="reviews-img-wrap">
                        <img src="assets/img/services/ip_counseling.jpg" alt="images">
                    </div>
                    <h4>Opposition and Cancellation</h4>
                    
                    <p class="review-text">The acquisition of intellectual property rights is essential for both
established and emerging companies. Our experienced lawyers help
clients in all opposition and cancellation procedures to prevent IP
piracy or fraud.</p>
                </div>
            </div>
            <div class="reviews-item col-xl-6 col-md-6 col-sm-12 animated bounceInLeft delay-500" style="margin-bottom: 20px">
                <div class="reviews-inside">
                    <div class="reviews-img-wrap">
                        <img src="assets/img/services/ip_portfolio_management.jpg" alt="images">
                    </div>
                    <h4>Anti Counterfeiting and Anti-Piracy</h4>
                    
                    <p class="review-text">Enabling innovative corporations to conduct business across
multiple jurisdictions, deterring infringements confidently. Our team
of attorneys is well equipped with the necessary experience to help
you enforce and protect your IP rights.</p>
                </div>
            </div>
            <div class="reviews-item col-xl-6 col-md-6 col-sm-12 animated bounceInLeft delay-750" style="margin-bottom: 20px">
                <div class="reviews-inside">
                    <div class="reviews-img-wrap">
                        <img src="assets/img/services/analytics.jpg" alt="images">
                    </div>
                    <h4>IP Analytics</h4>
                    
                    <p class="review-text">Our team of IP professionals uses their experience to enhance patent search & analysis by incorporating industry insights; helping you build smarter & stronger IP portfolios.</p>
                </div>
            </div>
            <div class="reviews-item col-xl-6 col-md-6 col-sm-12 animated bounceInLeft delay-750" style="margin-bottom: 20px">
                <div class="reviews-inside">
                    <div class="reviews-img-wrap">
                        <img src="assets/img/services/ip_valuation.jpg" alt="images">
                    </div>
                    <h4>IP Valuation</h4>
                    
                    <p class="review-text">We have extensive experience in identifying and valuing
valuable intangible assets; enabling our clients to develop
strategies or make informed decisions on IP exploitation. And
help them communicate the value of their IP assets. Our services
vary from raising finance or investment to IP asset transfers and
legal disputes.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}